{% extends 'public/templates/public_template.html' %}

{% block title %}403: Forbidden{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class="col">
            <h1>Access Forbidden</h1>
            <hr>
            <p class="text-muted">403 Forbidden: You don't have the permission to access the 
                requested resource. It is either read-protected or not readable by the server.</p>
        </div>
    </div>  
</div>
{% endblock %}