{% extends 'public/templates/public_template.html' %}

{% block title %}Page Not Found{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class="col">
            <h1>Page Not Found</h1>
            <hr>
            <p class="text-muted">404 Not Found: The requested URL was not found on the server. 
                If you entered the URL manually please check your spelling and try again.</p>
        </div>
    </div>  
</div>
{% endblock %}