{% extends 'public/templates/public_template.html' %}

{% block title %}Server Error{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class="col">
            <h1>Server Error</h1>
            <hr>
            <p class="text-muted">500 Internal Server Error: The server encountered 
                an internal error and was unable to complete your request. Either the server is 
                overloaded or there is an error in the application.</p>
            <p class="text-muted">This error most often occurs if the dimensions of the Modified and Plain files are mismatched.
                Please ensure that the number of rows and columns are identical, and that the CSVs uploaded are encoded using UTF-8. 
                Note: if data was entered into rows or columns 
                and then deleted, the cells into which that data was entered and deleted can sometimes be read in as a blank cell.
                If the number of rows and columns appear to match, try deleting whole "blank" rows beneath the data and whole columns
                after which the data appears to end.
            </p>
            <p><a href="{{ url_for('index') }}">Home</a></p>
        </div>
    </div>  
</div>
{% endblock %}