{% extends "public/templates/public_template.html" %}
{% block title %}Nasdaq - FSR{% endblock %}


{% block main %}
<div class="container">
    <h1 style="font-size:26pt;margin-top: 32px;">Create FSR</h1>
    <hr>

<div class="container" style="margin-left:16px;margin-top:16px" id="showcase">
    <form action = "" method = "POST" enctype = "multipart/form-data">

       <h4>Modified File</h4>
       <input type = "file" name = "modified" />
        <br><br>
       <h4>Plain File</h4>
       <input type = "file" name = "plain" />

       <br><br>

       <input type="checkbox" id="section_headers" name="create_section_headers" value="True">
       <input id='section_headers_hidden' type='hidden' value='' name='create_section_headers'>
       <label for="section_headers">Create Section Headers?</label><br>

       <input type="checkbox" id="modified_instance" name="create_modified_instance" value="True">
       <input id='modified_instance_hidden' type='hidden' value='' name='create_modified_instance'>
       <label for="modified_instance">Produce a modified instance of the FSR?</label>
       <br><br>
       <button class="btn btn-primary" type = "submit">Run FSR</button>
    </form>
 </div>
 </div>
 {% endblock %}
