<!doctype html>
<title>Download File</title>
<h1>Download File</h1>
<body class="body">
   <div class="container" align="left">
    <a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
   </div>
</body>