<!DOCTYPE html>
<html lang="en">
<title>FSR App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
    .droparea {
      width: 200px;
      height: 200px;
      border-style: solid;
      border-width: 3px;
      border-color: red;
      float: left;
      line-height: 200px;
      text-align: center;
  }
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px; 
      background-color: #f9f3ed;
      }
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
</style>
<body>
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="background:#d17b28;z-index:3;width:30%;min-width:300px;font-weight:bold;" id="mySidebar">
  <br>
  <br>
  <img style="margin:0 auto;display:block;width:25%;min-width:330px;"src="{{url_for('static', filename='CBE-logo.png')}}">
  <br>
   <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
   <div class="w3-container">
     <h3 class="w3-padding-64"><b>CBE Cloud Application Environment</b></h3>
     <h5><a href="{{ url_for('bea_uploader') }}">Create Board Excellence Assessments</a></h5>
     <h5><a href="{{ url_for('fsr_uploader') }}">Create Final Summary Reports</a></h5>
   </div>
 </nav>


<header class="w3-container w3-top w3-hide-large w3-xlarge w3-padding" style="background:#d17b28;">
   <a href="javascript:void(0)" class="w3-button w3-margin-right" onclick="w3_open()">☰</a>
   <span>CBE Cloud Application Environment</span>
 </header>
 
 <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
 
 <div class="w3-main" style="margin-left:340px;margin-right:40px;margin-left:30%;">
   <h1 class="w3-xxxlarge" style="margin-top: 64px;margin-left: 64px;"><b>FSR Application</b></h1>
   <hr style="margin-left: 64px;width:50px;border:5px solid #000000" class="w3-round">


   <div class="w3-container w3-padding-64" style="margin-left:32px;margin-top:80px" id="showcase">
      <form action = "" method = "POST" enctype = "multipart/form-data">
         <h4>Modified File</h4>
         <input type = "file" name = "modified" />

         <h4>Plain File</h4>
         <input type = "file" name = "plain" />

         <br><br>

         <input type="checkbox" id="section_headers" name="create_section_headers" value="True">
         <input id='section_headers_hidden' type='hidden' value='' name='create_section_headers'>
         <label for="section_headers">Create Section Headers?</label><br>

         <input type="checkbox" id="modified_instance" name="create_modified_instance" value="True">
         <input id='modified_instance_hidden' type='hidden' value='' name='create_modified_instance'>
         <label for="modified_instance">Would you like to produce a modified instance of the FSR?</label>
         <br><br><br>
         <input type = "submit" value="Run FSR"/>
      </form>
   </div>

   <!-- <div class="container" style="margin: 16px;">
    <div class="droparea">Drop Here</div>
    <div class="tablearea" id="tablearea"></div>
  </div> -->



</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
// var dragHandler = function(evt){
//         evt.preventDefault();
//     };

//     var dropHandler = function(evt){
//         evt.preventDefault();
//         var files = evt.originalEvent.dataTransfer.files;
//         console.log(files[0]);
//     };

//     var dropHandlerSet = {
//         dragover: dragHandler,
//         drop: dropHandler
//     };

//     $(".droparea").on(dropHandlerSet);
</script>
</body>
</html>