<HTML>
<HEAD>
  <TITLE>{{ title }}</TITLE>
  <link rel="stylesheet" type="text/css" href="{{ style_url }}">
  <style>
    html {height:100%;}
    body {font-family: Garamond;}
  </style>
</HEAD>
<BODY>
<div id='report_body'>
  <div id='title_page' class="border_thick">
      <img src="{{ nasdaq_logo }}" alt="Nasdaq logo goes here" id="nasdaq_logo"/>
      {% if board_or_committee == 'Board' %}
        <p style="font-size:28px;text-align: center;margin-top:60px;margin-left:auto;margin-right:auto;">{{ report_title }}<span style="margin:0;padding:0;display:inline-block;font-size:8px;position:relative;bottom:11px;font-weight:bold;">SM</span></p>
      {% endif %}
      {% if board_or_committee== 'committee'%}
        <p style="font-size:28px;text-align: center;margin-top:60px;">{{ report_title }}</p>
      {% endif %}
      <p style="font-size:20px;text-align: center;margin-top:80px;">Prepared for</p>
      <p style="text-align: center;margin-top:420px;">Report Date: {{ formatted_date }}</p>
  </div>

  <div>
    <article id='contents'>
    <h1>Table of Contents</h1>
      <ul>
        <li>Evaluation Overview<span style="float:right;">2</span></li>
        {% for item in table_of_contents_titles %}
          {% if item == "#heat_map_title" or item =='#CGPG_title' or item=='#radar_title' %}
            <li style="margin-top:3px;"><a href="{{ item }}"></a><span style="display:inline;font-size:6pt;position:relative;bottom:6px;">SM</span></li>

          {% elif item=='#CG_flag_title' %}
            {% if board_or_committee == 'Board' and ( show_flag_legend == True or show_GCFR_method == True ) %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a><span style="font-size:6pt;position:relative;bottom:6px;">SM</span></li>
            {% elif board_or_committee == 'Board' and show_flag_legend == False and show_GCFR_method == False %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
            {% elif (board_or_committee == 'committee')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
            {% endif %}

          {% elif item=='#CGPG_method_title' and show_GCFR_method == True %}
            {% if (board_or_committee == 'Board')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a><span style="font-size:6pt;position:relative;bottom:6px;">SM</span> Methodology</li>
            {% elif (board_or_committee == 'Committee')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
            {% endif %}

          {% else %}
            <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </article>

    <article id='assessment_overview'>
      {% if board_or_committee == 'Board' %}
        <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Overview</p>
        {{ eval_overview_html|safe }}
      {% endif %}

      {% if board_or_committee== 'committee'%}
        <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Overview</p>
        {{ eval_overview_html|safe }}
      {% endif %}

    </article>

    <article id='report_sections'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Sections</p>
      <table>
      {% for label, section_name in section_names_and_labels.items() %}
      <tr>
        <td style="width:36px;">{{ label }}</td>
        <td>{{ section_name }}</td>
      </tr>
      {% endfor %}
    </table>
    </article>
    {% if skills_response == False %}
    <div>
      <p style="font-size:16px;margin-top:30px;"><i>Sample evaluation question with rating scale for reference:</i></p>
      <table id="scale_table">
        <tr style="margin-left:10px;margin-top:2px;">
          <td style="width:66px;text-align: center;vertical-align: top;">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="text-align: justify;text-justify: inter-word;">{{ questions_df[questions_df['type'].isin(['matrix', 'likert', 'long_form'])]['question'].iloc[0] }}</td>
        </tr>
        <tr>
          <td colspan="2">
            {% if five_point_scale == False %}
              <img style="margin-left:60px;" src="{{ scale_image }}" alt="Scale Image goes here" id="scale_image"/>
            {% else %}
              <img style="margin-left:66px;max-height:70px;display: block;" src="{{ five_scale_image }}" alt="Scale Image goes here" />
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% endif %}
  </div>

{% if (skills_response == False) and (heatmap or CGPG)%}
<p style="page-break-before: always;">&nbsp;</p>
  {% if heatmap %}
  <div id='heat_map_section'>
    <h1 id='heat_map_title' style="display: inline">Corporate Governance Heat Map</h1><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:10px">SM</span>

    {% if na_in_heat_map == True %}
    <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graph below displays the directors’ responses to the rated questions. Areas of green represent confidence, yellow represents caution,
     red represents concern, and white represents &#8220;N/A&#8221;. The section numbers are listed in the first row, the question numbers are in the second row, and the section rating averages are in the bottom row.
      The numbered rows represent directors’ responses to the questions; however, the responses in the rows have been randomized to maintain anonymity.</p>
    {% endif %}
    {% if na_in_heat_map == False %}
    <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graph below displays the directors’ responses to the rated questions. Areas of green represent confidence, yellow represents caution, and
     red represents concern. The section numbers are listed in the first row, the question numbers are in the second row, and the section rating averages are in the bottom row.
      The numbered rows represent directors’ responses to the questions; however, the responses in the rows have been randomized to maintain anonymity.</p>
    {% endif %}

      <table style="table-layout: fixed;border-collapse: collapse;font-size:70%;margin-left:auto;margin-right: auto;max-width:670px;">
        <tr>
          <th style="width:12px;">&nbsp;</th>
          {% for _, number in hm_numbers_borders.items() %}
          <th style="width:{{ percentage_size }}px;">&nbsp;</th>
          {% endfor %}
        </tr>
        <tr>
          <td></td>
          {% for k, v in hm_section_length_counts.items() %}
          <td style="text-align:center;background-color:#BE6E28;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;" colspan="{{ v }}">
            {{ k }}
          </td>
          {% endfor %}
        </tr>

        <tr>
          <td></td>
          {% for k, v in hm_numbers_borders.items() %}
            {% if v[1] == 'left' %}
              <td style="font-weight:bold;text-align:center;border:1px solid black;border-left:2px solid black;font-size:{{ number_font_size }}pt;">{{ v[0] }}</td>
            {% endif %}
            {% if v[1] == 'right' %}
              <td style="font-weight:bold;text-align:center;border:1px solid black;border-right:2px solid black;font-size:{{ number_font_size }}pt;">{{ v[0] }}</td>
            {% endif %}
            {% if v[1] == 'None' %}
              <td style="font-weight:bold;text-align:center;border:1px solid black;font-size:{{ number_font_size }}pt;">{{ v[0] }}</td>
            {% endif %}
          {% endfor %}
        </tr>

        {% for row in hm_rows_directions %}
          {% if five_point_scale == False %}
          <tr>
            <td style="font-weight:bold;font-size:{{ hm_cell_height }}pt;">{{ (row.keys()|list)[0] }}</td>

            {% for item, zipped_object in row.items() %}
              {% for num, direction in zipped_object %}
                {% if ( (num == 10) or (num == 9) or (num == 8) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if ( (num == 7) or (num == 6) or (num == 5) or (num == 4)) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if ( (num == 3) or (num == 2) or (num == 1) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if num == 0 %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

              {% endfor %}
            {% endfor %}
          </tr>
          {% endif %}
          {% if five_point_scale == True %}
          <tr>
            <td style="font-weight:bold;font-size:10pt;">{{ (row.keys()|list)[0] }}</td>

            {% for item, zipped_object in row.items() %}
              {% for num, direction in zipped_object %}
                {% if ( (num == 5) or (num == 4) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if (num == 3) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if ( (num == 2) or (num == 1) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if num == 0 %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

              {% endfor %}
            {% endfor %}
          </tr>
          {% endif %}
        {% endfor %}

        <tr>
          <td></td>
          {% for k, v in heat_map_averages.items() %}
            <td style="background-color:#BE6E28;text-align:center;border:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;" colspan="{{ v[0] }}">{{ v[1] }}</td>
          {% endfor %}
        </tr>
      </table>


    <p style="text-align: center;font-size:12pt;margin-top:10px;">e&#x03A3;igma<span style="display:inline;font-size:7px;position:relative;bottom:6px">SM</span> = {{ eSigma_value }}</p>
    {% if ( five_point_scale == False ) %}
      <p style="text-align: center;font-size:9pt;margin-top:-10px;">Scale is 1.00 to 10.00</p>
    {% endif %}
    {% if ( five_point_scale == True ) %}
      <p style="text-align: center;font-size:9pt;margin-top:-10px;">Scale is 1.00 to 5.00</p>
    {% endif %}

    {% if na_in_heat_map == True %}
      {% if ( five_point_scale == False ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span>, <span>N/A = white</span></p>
        </div>
      {% endif %}
      {% if ( five_point_scale == True ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 2 ratings = <span style="color:red;font-weight:bold;">red</span>, 3 rating = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 4 - 5 ratings = <span style="color:green;font-weight:bold;">green</span>, <span>N/A = white</span></p>
        </div>
      {% endif %}
    {% endif %}

    {% if na_in_heat_map == False %}
      {% if ( five_point_scale == False ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span></p>
        </div>
      {% endif %}
      {% if ( five_point_scale == True ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 2 ratings = <span style="color:red;font-weight:bold;">red</span>, 3 rating = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 4 - 5 ratings = <span style="color:green;font-weight:bold;">green</span></p>
        </div>
      {% endif %}
    {% endif %}

    <article>
      <p style="font-size:10pt;text-align: justify;text-justify: inter-word;"><span style="font-weight:bold;">e&#x03A3;igma<span style="display:inline;font-size:7px;position:relative;bottom:6px">SM</span></span>
      is a Nasdaq metric that averages the total statistical score and provides a year over year comparative measurement of performance. </p>
    </article>
  </div>
  {% endif %}

  {% if CGPG==True %}
  <div id='CGPG'>
    <h1 id='CGPG_title' style="display: inline">Corporate Governance Priority Graph</h1><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:12px">SM</span>
    <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graph below shows the aggregated average ratings for each section of the evaluation. </p>
    <img src='{{ cgpg_bar_chart }}' style="max-height:220px;width:520px;margin-top:16px;margin:0 auto;display:block;" />
  </div>
  {% endif %}
{% endif %}

{% if skills_response == False %}
  {% if ( (report_type == 'BEA') and (relationship_web == True) ) %}
    <div id='radar_chart'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='radar_title' style="display:inline">Corporate Governance Relationship Web</h1><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:10px">SM</span>
    <p style="text-align: justify;text-justify: inter-word;">
  This diagram provides insight by quantifying the total rating given by each individual director while highlighting each
  time a director selected 10 as the response to a rated question. The blue band indicates the extent to which the Board
  is unified in its perception of its efficacy and overall performance. The green band indicates the extent to which the Board arrived at a common conclusion heterogeneously.
    </p>
    <p style="text-align: justify;text-justify: inter-word;">
      Both a positive and negative correlation exist between the web’s blue and green bands. In more highly
      functioning boards, the outer blue band is more circular and the inner green band is more asymmetrical,
      indicating a high degree of consistent feeling is present regarding overall board performance
      (the circular blue band) and that the board arrived at such conclusion by varied means (the jagged green band).
      If both bands are symmetrical (circular), this implies less diversity of thought. In less highly
       functioning boards, the outer blue band is jagged and the inner green band is more symmetrical.
        This result suggests the board is not unified in its perception of its performance. The graph below suggests that the Board  - [has varied perception of performance or is high performing and that diversity of thought exists]
    </p>
    <img src='{{ radar_chart_image }}' style="max-height:500px;margin-top:16px;display:block;margin-left:auto;margin-right:auto;" />
    </div>
  {% endif %}
{% endif %}

  {% if ( (skills_response == False) and (hilo_section_bool == True) ) %}
    <div id='hilo'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='hilo_title'>Highest and Lowest Rated Questions</h1>
      <p style="text-align: justify;text-justify: inter-word;">
        This table highlights the questions that received the highest and lowest average ratings.
        Note: If more than one question received the same average rating, then each question
        with that rating is listed up to a maximum of five questions.
      </p>

      {% if number_of_sections > 1 %}
      <table id='hilo_table'>
        <th colspan="4" class='hi_header'>Highest Rated Questions</th>
        <tr>
          <td class="hi_header">Rating</td>
          <td class="hi_header">Section</td>
          <td class="hi_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_hi.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_cell' style="white-space: nowrap;text-align:center;">{{ row['section'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
        <th colspan="4" class='lo_header'>Lowest Rated Questions</th>
        <tr>
          <td class="lo_header">Rating</td>
          <td class="lo_header">Section</td>
          <td class="lo_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_lo.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_cell' style="white-space: nowrap;text-align:center;">{{ row['section'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      {% if number_of_sections == 1 %}
      <table id='hilo_table'>
        <th colspan="3" class='hi_header'>Highest Rated Questions</th>
        <tr>
          <td class="hi_header">Rating</td>
          <td class="hi_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_hi.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
        <th colspan="3" class='lo_header'>Lowest Rated Questions</th>
        <tr>
          <td class="lo_header">Rating</td>
          <td class="lo_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_lo.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  {% endif %}

  {% if skills_matrix_present %}
    <div id='skills_matrix_section'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='skills_matrix_title' style="font-weight:normal;font-size:20px;margin-top:-12px;">Director Skills Matrix</h1>
      <p style="text-align: justify;text-justify: inter-word;">As part of the evaluation,
        directors rated their expertise in  areas relevant to the requirements of
        the role of a director on the Company’s board of directors. The Skills Matrix utilized a scale of
        1 to 10, with &#8220;limited knowledge&#8221; scored as a 1 and &#8220;high expertise&#8221; scored as a 10.
      </p>
      <p style="text-align: justify;text-justify: inter-word;">The gradient color visualization highlights directors’ areas of strengths and those with limited knowledge.</p>

      <div>
        <table style="border:1px solid black;table-layout: fixed;border-spacing:0;border-collapse: collapse;font-size:80%;">
          <tr>
            <th style="min-width:250px;border-right:1px solid black;"></th>
            {% for col in skills_matrix_df_width %}
              {% if col==1 %}
                <th style="width:40px;border-right:1px solid black;"></th>
              {% else %}
                <th style="width:40px;"></th>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td style="text-align:center;border-right:1px solid black;"></td>
            <td style="font-weight:bold;text-align:center;border-right:1px solid black;">Board</td>
            <td style="font-weight: bold;text-align:center;" colspan="{{ (skills_matrix_df|length)-1 }}">Director Self-Ratings</td>
          </tr>
          <tr>
            <td style="font-weight: bold;border-right:1px solid black;border-bottom:1px solid black;">Skill Areas</td>
            <td style="font-weight: bold;border-right:1px solid black;border-bottom:1px solid black;">Average</td>
            {% for initial in (skills_matrix_df.loc['initials']|list)[1:] %}
            <td style="font-weight: bold;text-align:center;border-bottom:1px solid black;">{{ initial }}</td>
            {% endfor %}
          </tr>
          {% for _, row in skills_matrix_df.iloc[1:-1].iterrows() %}
              <tr>
                <td style="border-right:1px solid black;font-weight:normal;">{{ _ }}</td>

                {% if (row[0]|float == 10.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#63be7b;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 10.00) and (row[0]|float >= 9.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#86c97e;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 9.00) and (row[0]|float >= 8.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#a9d27f;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 8.00) and (row[0]|float >= 7.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#ccdd82;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 7.00) and (row[0]|float >= 6.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#eee683;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 6.00) and (row[0]|float >= 5.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#fedd81;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 5.00) and (row[0]|float >= 4.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#fcbf7b;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 4.00) and (row[0]|float >= 3.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#fba276;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 3.00) and (row[0]|float >= 2.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#f98570;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 2.00) and (row[0]|float >= 1.00) %}
                <td style="text-align:center;border-right:1px solid black;background-color:#f8696b;">{{ row[0] }}</td>
                {% endif %}


                {% for item in row[1:] %}

                  {% if (item|float == 10.0) %}
                  <td style="text-align:center;background-color:#63be7b;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 10.0) and (item|float >= 9.00) %}
                  <td style="text-align:center;background-color:#86c97e;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 9.0) and (item|float >= 8.00) %}
                  <td style="text-align:center;background-color:#a9d27f;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 8.0) and (item|float >= 7.00) %}
                  <td style="text-align:center;background-color:#ccdd82;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 7.0) and (item|float >= 6.00) %}
                  <td style="text-align:center;background-color:#eee683;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 6.0) and (item|float >= 5.00) %}
                  <td style="text-align:center;background-color:#fedd81;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 5.0) and (item|float >= 4.00) %}
                  <td style="text-align:center;background-color:#fcbf7b;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 4.0) and (item|float >= 3.00) %}
                  <td style="text-align:center;background-color:#fba276;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 3.0) and (item|float >= 2.00) %}
                  <td style="text-align:center;background-color:#f98570;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 2.0) and (item|float >= 1.00) %}
                  <td style="text-align:center;background-color:#f8696b;">{{ item|int }}</td>
                  {% endif %}

                {% endfor %}
              </tr>
          {% endfor %}
          <tr>
            <td style="font-weight:bold;text-align:right;border-top:1px solid black;">Overall Average:</td>
            {% for item in skills_matrix_df.iloc[-1] %}
            <td style="font-weight:bold;text-align:center;border-top:1px solid black;">{{ item }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td colspan="{{ (skills_matrix_df|length)-1 }}" style="font-weight:bold;text-align:center;">Total Expertise Average by Director</td>
          </tr>
        </table>
      </div>
    </div>
  {% endif %}

  {% if swot == True %}
    <div id='swot'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id="swot_title" style="font-weight:normal;font-size:20px;margin-top:-12px;">SWOT Diagram</h1>
      <p style="text-align: justify;text-justify: inter-word;">This diagram synthesizes the Board’s responses to the quantitative and qualitative questions.
        The objective of the SWOT diagram is to outline and graphically contrast the four areas so that the Board and management can further promote an effective agenda.</p>
      <table id='swot_table'>
        <tr>
          <td style="width: 61px; vertical-align: top; top: -10px;"><img src="{{ swot_s }}" /></td>
          <td style="display: table-cell;border-right: 2px solid #941100;vertical-align: text-top;"><h3 style="margin-top:12px;font-size:16pt;">Strengths</h3></td>
          <td style="width: 61px;vertical-align: top; top: -10px;"><img src="{{ swot_w }}" /></td>
          <td style="display: table-cell;vertical-align: text-top;text-align:left;"><h2 style="margin-top:12px;font-size:16pt;">Weaknesses</h2></td>
        </tr>
          <td style="padding-left:10px;">&#9642;</td>
          <td style="border-right: 2px solid #941100;"></td>
          <td style="padding-left:10px;">&#9642;</td>
          <td >&nbsp;</td>
        <tr>
        </tr>
          <td style="border-bottom: 2px solid #941100;padding-left:10px;">&#9642;</td>
          <td style="border-bottom: 2px solid #941100;border-right: 2px solid #941100;"></td>
          <td style="border-bottom: 2px solid #941100;padding-left:10px;">&#9642;</td>
          <td style="border-bottom: 2px solid #941100;">&nbsp;</td>
          <tr>
            <td style="width: 61px; vertical-align: top; top: -10px;"><img src="{{ swot_o }}" /></td>
            <td style="display: table-cell;border-right: 2px solid #941100;vertical-align: text-top;"><h3 style="margin-top:12px;font-size:16pt;">Opportunities</h3></td>
            <td style="width: 61px;vertical-align: top; top: -10px;"><img src="{{ swot_t }}" /></td>
            <td style="display: table-cell;vertical-align: text-top;text-align:left;"><h2 style="margin-top:12px;font-size:16pt;">Threats</h2></td>
          </tr>
            <td style="padding-left:10px;">&#9642;</td>
            <td style="border-right: 2px solid #941100;"></td>
            <td style="padding-left:10px;">&#9642;</td>
            <td>&nbsp;</td>
          <tr>
          </tr>
            <td style="padding-left:10px;">&#9642;</td>
            <td style="border-right: 2px solid #941100;"></td>
            <td style="padding-left:10px;">&#9642;</td>
            <td>&nbsp;</td>
          <tr>
      </table>
    </div>
  {% endif %}

  {% if highlights_actionpoints == True %}
    <div id='highlights_actionpts'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='highlights_actionpts_title' style="font-weight:normal;font-size:20px;margin-top:-12px;">Highlights and Action Points</h1>
      <p style="text-align: justify;text-justify: inter-word;">This section provides a summary of comments and themes derived from Board members’ responses to the evaluation.  </p>
      <article>
        <h3>Highlights</h3>
        <span style="margin-left:24px">&#9642;</span>
      </article>
      <article>
        <h3>Risks and Challenges</h3>
        <span style="margin-left:24px">&#9642;</span>
      </article>
      <article>
        <h3>Action Points for Consideration</h3>
        <span style="margin-left:24px">&#9642;</span>
      </article>
    </div>
  {% endif %}

  {% if skills_response == False %}
    <div id='CG_Flag'>
      <p style="page-break-before: always;">&nbsp;</p>

      {% if show_GCFR_method == True %}
        {% if (board_or_committee == 'Board')  %}
          <h1 style="display:inline;" id='CGPG_method_title'>Corporate Governance Flag Report</h1><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:12px">SM</span><h1 style="display:inline;font-weight:normal;font-size:20px;"> Methodology</h1>
        {% endif %}
        {% if board_or_committee == 'Committee' %}
          <h1 id='CGPG_method_title'>Corporate Governance Report Methodology</h1>
        {% endif %}
        <p style="text-align: justify;text-justify: inter-word;">This section assesses the data collected from all elements of the evaluation to form an integrated picture
          of the {{ board_or_committee }}’s function and overall performance. The results are aggregated, averaged, and then quantitatively
          reviewed.</p>
      {% endif %}

      {% if show_flag_legend == True %}
      <div id='flag_legend' style="padding-bottom: .67em;">
        <p>Each section is assessed in the Flag Report based upon the following legend:</p>
        <table style="margin-top:-8px;">
          <tr style="width:100%;">
            <td style="width:12%;text-align: right;"><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></td>
            <td class="flag_legend">Highest Confidence</td>
            <td style="width:12%;text-align: right;"><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></td>
            <td class="flag_legend">High Caution</td>
            <td style="width:12%;text-align: right;"><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></td>
            <td class="flag_legend">High Concern</td>
          </tr>
          <tr style="width:100%;">
            <td style="width:8%;text-align: right;"><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></td>
            <td class="flag_legend">Moderate Confidence</td>
            <td style="width:8%;text-align: right;"><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></td>
            <td class="flag_legend">Medium Caution</td>
            <td style="width:8%;text-align: right;"><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></td>
            <td class="flag_legend">Medium Concern</td>
          </tr>
          <tr style="width:100%;">
            <td style="width:10%;text-align: right;"><img class='flag' src="{{ green_flag }}" alt="green flag here"/></td>
            <td class="flag_legend">Baseline Confidence</td>
            <td style="width:10%;text-align: right;"><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></td>
            <td class="flag_legend">Low Caution</td>
            <td style="width:10%;text-align: right;"><img class='flag' src="{{ red_flag }}" alt="red flag here"/></td>
            <td class="flag_legend">Low Concern</td>
          </tr>
        </table>
      </div>
      {% endif %}

      {% if ( (board_or_committee == 'Board') and (show_flag_legend) and (show_GCFR_method) ) %}
      <h1 id='CG_flag_title' style="display:inline;">Corporate Governance Flag Report</h1><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:12px">SM</span>
      {% endif %}

      {% if ( (board_or_committee != 'Board') or (show_flag_legend == False) or (show_GCFR_method == False) ) %}
      <h1 id='CG_flag_title'>Corporate Governance Report</h1>
      {% endif %}

      <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The report below provides statistical information for each section along with any comments provided by directors.</p>

      {% if ( (board_or_committee == 'Board') and (show_flag_legend) and (show_GCFR_method) ) %}
      <article id='CG_Sections' style="margin-top:-2em;">
      {% endif %}
      
      {% if ( (board_or_committee != 'Board') or (show_flag_legend == False) or (show_GCFR_method == False) ) %}
      <article id='CG_Sections' style="margin-top:-1em;">
      {% endif %}

        {% for section in jinja_for_loop_dict.keys() %}

        {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
          <table class='flag_table' style="break-inside:avoid;">
        {% endif %}
        {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
          <table class='flag_table' style="break-inside:avoid;">
        {% endif %}

        <tr>
          <th style="width:20px;"></th>
          <th style="width:16px;"></th>
          <th style="width:{{ question_column_width }}%;"></th>
          <th colspan="{{ number_of_respondents }}" scope="colgroup"></th>
          <th style="width:60px;"></th>
        </tr>

        {% if ( five_point_scale == False ) %}
          <tr>
          <td colspan="{{ number_of_respondents+4 }}">
            <div>
              {% if ( (board_or_committee == 'Board') and ( (show_flag_legend == False) or (show_GCFR_method == False) ) ) %}
                <h2 style="margin-top:8px;">{{ section }}<img style="margin-left: 4px;visibility: hidden" class='flag' src="{{ green_flag }}"/></h2>
              {% endif %}

              {% if (board_or_committee == 'committee') %}
                <h2 style="margin-top:8px;">{{ section }}<img style="margin-left: 4px;visibility: hidden" class='flag' src="{{ green_flag }}"/></h2>
              {% endif %}

              <!-- Handle the case where board_or_committee=='Board', show_flag_legend==True, and we need to show a section for a long form question  -->
              {% if ( ('likert' not in questions_df[questions_df['section']==section]['type'].unique()) and ('matrix' not in questions_df[questions_df['section']==section]['type'].unique()) ) and ( board_or_committee!='committee' )  and  ( (show_flag_legend == True) or (show_GCFR_method == True) ) %}
                <h2>{{ section }}</h2>
              {% endif %}

              {% if ( (board_or_committee == 'Board') and (show_flag_legend) and (show_GCFR_method) ) %}
                {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique()) ) %}
                  {% if (section_averages[section] | float ) >= 9.25 %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
                  {% endif %}
                  {% if ( ((section_averages[section] | float ) >= 8.5) and ((section_averages[section] | float) <= 9.24) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
                  {% endif %}
                  {% if ( ((section_averages[section] | float ) >= 7.75) and ((section_averages[section] | float) <= 8.49) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
                  {% endif %}

                  {% if ( ((section_averages[section] | float ) >= 5.5) and ((section_averages[section] | float) <= 6.24) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></h2>
                  {% endif %}
                  {% if ( ((section_averages[section] | float ) >= 6.25) and ((section_averages[section] | float) <= 6.99) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></h2>
                  {% endif %}
                  {% if ( ((section_averages[section] | float ) >= 7) and ((section_averages[section] | float) <= 7.74) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></h2>
                  {% endif %}

                  {% if ( ((section_averages[section] | float ) >= 1) and ((section_averages[section] | float) <= 3.99) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
                  {% endif %}
                  {% if ( ((section_averages[section] | float ) >= 4) and ((section_averages[section] | float) <= 4.74) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
                  {% endif %}
                  {% if ( ((section_averages[section] | float ) >= 4.75) and ((section_averages[section] | float) <= 5.49) ) %}
                  <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </td>
        </tr>
        {% endif %}

        {% if ( five_point_scale == True ) %}
          <tr style="width:100%;">
            <td colspan="{{ number_of_respondents+4 }}">
              <div>
                {% if ( (board_or_committee == 'Board') and ( (show_flag_legend == False) or (show_GCFR_method == False) ) ) %}
                  <h2>{{ section }}</h2>
                {% endif %}

                {% if (board_or_committee == 'committee') %}
                  <h2>{{ section }}</h2>
                {% endif %}

                <!-- Handle the case where board_or_committee=='Board', show_flag_legend==True, and we need to show a section title for a long form question  -->
                {% if ( ('likert' not in questions_df[questions_df['section']==section]['type'].unique()) and ('matrix' not in questions_df[questions_df['section']==section]['type'].unique()) ) and ( board_or_committee!='committee' )  and  ( (show_flag_legend == True) or (show_GCFR_method == True) ) %}
                  <h2>{{ section }}</h2>
                {% endif %}

                {% if ( (board_or_committee == 'Board') and (show_flag_legend) and (show_GCFR_method) ) %}
                  {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique()) ) %}
                    {% if (section_averages[section] | float ) >= 4.65 %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
                    {% endif %}
                    {% if ( ((section_averages[section] | float ) >= 4.25) and ((section_averages[section] | float) <= 4.649) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
                    {% endif %}
                    {% if ( ((section_averages[section] | float ) >= 3.875) and ((section_averages[section] | float) <= 4.249) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
                    {% endif %}

                    {% if ( ((section_averages[section] | float ) >= 2.75) and ((section_averages[section] | float) <= 3.124) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></h2>
                    {% endif %}
                    {% if ( ((section_averages[section] | float ) >= 3.125) and ((section_averages[section] | float) <= 3.49) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></h2>
                    {% endif %}
                    {% if ( ((section_averages[section] | float ) >= 3.5) and ((section_averages[section] | float) <= 3.875) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></h2>
                    {% endif %}

                    {% if ( ((section_averages[section] | float ) >= 1) and ((section_averages[section] | float) <= 1.99) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
                    {% endif %}
                    {% if ( ((section_averages[section] | float ) >= 2) and ((section_averages[section] | float) <= 2.374) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
                    {% endif %}
                    {% if ( ((section_averages[section] | float ) >= 2.375) and ((section_averages[section] | float) <= 2.74) ) %}
                    <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </td>
          </tr>
        {% endif %}

        <tr style="margin-top:-4px;">
          <td style="text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">{{ section_data[section] }}</td>
        </tr>

        {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique())) %}
          <tr style="margin-top:10px;">
            <td style="width:20px;"></td>
            <td style="width:16px;"></td>
            <td style="width:{{ question_column_width }}%;"></td>
            <td colspan="{{ number_of_respondents }}" scope="colgroup" style="border-bottom: 1px solid black;text-align:center;font-weight:bold;">Individual Ratings</td>
            <td style="width:60px;text-align:center;border-bottom:1px solid black;border-left:1px solid black;font-weight:bold;">Average</td>
          </tr>
        {% endif %}

        <!-- first question grouped with headers and section name and data -->
        {% if (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'likert') %}
          <tr>
            <td class='rated_number'>{{ (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['number']) }}</td>
            <td class='rated_question' colspan="2">{{ (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question']) }}</td>
            {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'] %}
              {% if a == 'N/A' %}
                <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
              {% endif %}
              {% if a != 'N/A' %}
                <td class='rated_answer'>{{ a }}</td>
              {% endif %}
            {% endfor %}
            <td class="rated_average" style="border-left:1px solid black;text-align: center;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['average'] }}</td>
          </tr>
        {% endif %}


        {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'long_form' %}
          <tr class='long_form_row_question'>
            <td colspan="{{ number_of_respondents+4 }}">
              <table class="inner_table" style="break-inside:avoid;" >
                <tr style="width:100%;">
                  <td class="long_form_number">{{ (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['number']) }}</td>
                  <td class='long_form_question' colspan="{{ number_of_respondents+3 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
                </tr>
              {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][0] != None %}
                <tr style="width:100%;">
                  <td class="long_form_number"></td>
                  <td colspan="{{ number_of_respondents+3 }}" style="padding-left: .532in;text-align: justify;text-justify: inter-word;padding-bottom:6px;padding-top:6px;">&#8220;{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][0] }}&#8221;</td>
                </tr>
              {% endif %}
              {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][0] == None %}
              <tr style="width:100%;">
                <td class="long_form_number"></td>
                <td colspan="{{ number_of_respondents+3 }}" style="padding-left: .532in;padding-bottom:6px;padding-top:6px;">No comments were provided</td>
              </tr>
              {% endif %}
              </table>
            </td>
          </tr>

          <table>
            {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][1:] %}
              <tr style="width:100%;">
                <td class="long_form_number"></td>
                <td colspan="{{ number_of_respondents+3 }}" style="padding-left:.5in;padding-bottom:6px;margin-top:18px;">&#8220;{{ a }}&#8221;</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'matrix' %}
          {% if (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['sub_section'][0] == 'a') %}
          <tr>
            <td class='rated_number'>{{ (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['number']) }}</td>
            <td class='matrix_question' colspan="{{ number_of_respondents+2 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="rated_number"></td>
            <td class="rated_question" colspan="2">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['sub_section'] }}</td>
            {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'] %}
              {% if a == 'N/A' %}
                <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
              {% endif %}
              {% if a != 'N/A' %}
                <td class='rated_answer'>{{ a }}</td>
              {% endif %}
            {% endfor %}
            <td class="rated_average">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['average'] }}</td>
          </tr>
        {% endif %}

        <!-- rank choice questions -->
        {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'rank' %}
          {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['first'] == True %}
          <tr>
            <td class='rated_number'>{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['number'] }}</td>
            <td class='matrix_question' colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
          </tr>

          <tr>
            <td class='rated_number'></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align:center" colspan="{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['lengthOfRankedChoiceSection'] }}">Number of Responses</td>
          </tr>

          <tr>
            <td class="rated_number"></td>
            <td colspan="2" style="padding-left: .1in;width:30px;">Rank</td>
            {% for num in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['ranks'] %}
              <td style="border-bottom:1px solid black;">{{ num }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td class="rated_number"></td>
            <td style="padding-left: .1in;max-width:12px; min-width:10px;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['count'] }}.</td>
            <td style="padding-left: .1in;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['sub_section'] }}</td>
            {% for num in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'] %}
              <td>{{ num }}</td>
            {% endfor %}
          </tr>
          {% endif %}
          {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['first'] == False %}
          <tr>
            <td class="rated_number"></td>
            <td style="padding-left: .1in; width:10px;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['count'] }}.</td>
            <td style="padding-left: .1in;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['sub_section'] }}</td>
            {% for num in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'] %}
              <td>{{ num }}</td>
            {% endfor %}
          </tr>
          {% endif %}
        {% endif %}

        {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'yes/no' %}
          <tr class='long_form_row_question'>
            <td class="long_form_number">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['number'] }}</td>
            <td class='long_form_question' colspan="{{ number_of_respondents+2 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
          </tr>
          <tr>
            <td colspan="{{ number_of_respondents+2 }}" style="padding-left: .5in;">Yes: {{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]].answers.get('yes', 0) }}</td>
          </tr>
          <tr>
            <td colspan="{{ number_of_respondents+2 }}" style="padding-left: .5in;">No: {{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]].answers.get('no', 0) }}</td>
          </tr>
        {% endif %}


        {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
          </table>
        {% endif %}
        {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
          </table>
        {% endif %}

        <!-- all other questions in a section will be grouped together and page break as they normally would -->
        <table class='flag_table' style="margin-top:-2px;">
          <tr>
            <th style="width:20px;"></th>
            <th style="width:16px;"></th>
            <th style="width:{{ question_column_width }}%;"></th>
            <th colspan="{{ number_of_respondents }}" scope="colgroup"></th>
            <th style="width:60px;"></th>
          </tr>

        {% for raw_q in (jinja_for_loop_dict[section].keys()|list)[1:] %}

          {% if (jinja_for_loop_dict[section][raw_q].type == 'likert') %}
            <tr>
              <td class='rated_number'>{{ jinja_for_loop_dict[section][raw_q].number }}</td>
              <td class='rated_question' colspan="2">{{ jinja_for_loop_dict[section][raw_q].question }}</td>
              {% for a in jinja_for_loop_dict[section][raw_q].answers %}
                {% if a == 'N/A' %}
                  <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                {% endif %}
                {% if a != 'N/A' %}
                  <td class='rated_answer'>{{ a }}</td>
                {% endif %}
              {% endfor %}
              <td class="rated_average">{{ jinja_for_loop_dict[section][raw_q].average }}</td>
            </tr>
          {% endif %}

          {% if (jinja_for_loop_dict[section][raw_q].type == 'matrix') %}
            {% if (jinja_for_loop_dict[section][raw_q].sub_section[0] == 'a') %}
            <tr>
              <td class='rated_number'>{{ jinja_for_loop_dict[section][raw_q].number }}</td>
              <td class='matrix_question' colspan="{{ number_of_respondents+2 }}">{{ jinja_for_loop_dict[section][raw_q].question }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="rated_number"></td>
              <td class="rated_question" colspan="2">{{ jinja_for_loop_dict[section][raw_q]['sub_section'] }}</td>
              {% for a in jinja_for_loop_dict[section][raw_q].answers %}
                {% if a == 'N/A' %}
                  <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                {% endif %}
                {% if a != 'N/A' %}
                  <td class='rated_answer'>{{ a }}</td>
                {% endif %}
              {% endfor %}
              <td class="rated_average">{{ jinja_for_loop_dict[section][raw_q].average }}</td>
            </tr>
          {% endif %}

          {% if jinja_for_loop_dict[section][raw_q].type == 'rank' %}

            {% if jinja_for_loop_dict[section][raw_q].first == True %}
            <tr>
              <td class='rated_number'>{{ jinja_for_loop_dict[section][raw_q].number }}</td>
              <td class='matrix_question' colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][raw_q].question }}</td>
            </tr>

            <tr>
              <td class='rated_number'></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td style="text-align:center" colspan="{{ jinja_for_loop_dict[section][raw_q].lengthOfRankedChoiceSection }}">Number of Responses</td>
            </tr>

            <tr>
              <td class="rated_number"></td>
              <td colspan="2" style="padding-left: .1in;width:30px;">Rank</td>
              {% for num in jinja_for_loop_dict[section][raw_q].ranks %}
                <td style="border-bottom:1px solid black;">{{ num }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="rated_number"></td>
              <td style="padding-left: .1in;max-width:12px; min-width:10px;">{{ jinja_for_loop_dict[section][raw_q].count }}.</td>
              <td style="padding-left: .1in;">{{ jinja_for_loop_dict[section][raw_q].sub_section }}</td>
              {% for num in jinja_for_loop_dict[section][raw_q].answers %}
                <td>{{ num }}</td>
              {% endfor %}
            </tr>
            {% endif %}

            {% if jinja_for_loop_dict[section][raw_q].first == False %}
            <tr>
              <td class="rated_number"></td>
              <td style="padding-left: .1in; width:10px;">{{ jinja_for_loop_dict[section][raw_q].count }}.</td>
              <td style="padding-left: .1in;">{{ jinja_for_loop_dict[section][raw_q].sub_section }}</td>
              {% for num in jinja_for_loop_dict[section][raw_q].answers %}
                <td>{{ num }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endif %}

          {% if jinja_for_loop_dict[section][raw_q].type == 'long_form' %}
            <tr>
              <td colspan="{{ number_of_respondents+4 }}">
                <table class="inner_table" style="break-inside:avoid;">
                  <tr class='long_form_row_question'>
                    <td class="long_form_number">{{ jinja_for_loop_dict[section][raw_q].number }}</td>
                    <td class='long_form_question' colspan="{{ number_of_respondents+3 }}">{{ jinja_for_loop_dict[section][raw_q].question }}</td>
                  </tr>

                  {% if jinja_for_loop_dict[section][raw_q].answers[0] != None %}
                    <tr style="width:100%;">
                      <td class="long_form_number"></td>
                      <td style="padding-left: .532in;text-align: justify;text-justify: inter-word;padding-bottom:6px;padding-top:6px;" colspan="{{ number_of_respondents+3 }}">&#8220;{{ jinja_for_loop_dict[section][raw_q].answers[0] }}&#8221;</td>
                    </tr>
                  {% endif %}

                  {% if jinja_for_loop_dict[section][raw_q].answers[0] == None %}
                    <tr style="width:100%;">
                      <td class="long_form_number"></td>
                      <td style="padding-left: .532in;padding-bottom:6px;padding-top:6px;" colspan="{{ number_of_respondents+3 }}">No comments were provided.</td>
                    </tr>
                  {% endif %}

                </table>
              </td>
            </tr>

            {% if jinja_for_loop_dict[section][raw_q].answers[0] != None %}
              {% for a in jinja_for_loop_dict[section][raw_q].answers[1:] %}
                <tr style="width:100%;">
                  <td class="long_form_number"></td>
                  <td style="padding-left: .5in;text-align: justify;text-justify: inter-word;padding-bottom:6px;margin-top:18px;" colspan="{{ number_of_respondents+3 }}">&#8220;{{ a }}&#8221;</td>
                </tr>
              {% endfor %}
            {% endif %}

          {% endif %}


          {% if jinja_for_loop_dict[section][raw_q].type == 'yes/no' %}
            <tr class='long_form_row_question'>
              <td class="long_form_number">{{ jinja_for_loop_dict[section][raw_q].number }}</td>
              <td class='long_form_question' colspan="{{ number_of_respondents+3 }}">{{ jinja_for_loop_dict[section][raw_q].question }}</td>
            </tr>
            <tr>
              <td class="long_form_number"></td>
              <td colspan="{{ number_of_respondents+3 }}" style="padding-left: .5in;">&nbsp;Yes: {{ jinja_for_loop_dict[section][raw_q].answers.get('yes', 0) }}</td>
            </tr>
            <tr>
              <td class="long_form_number"></td>
              <td colspan="{{ number_of_respondents+3 }}" style="padding-left: .5in;">&nbsp;No: {{ jinja_for_loop_dict[section][raw_q].answers.get('no', 0) }}</td>
            </tr>
          {% endif %}

          {% if ( (jinja_for_loop_dict[section][raw_q].type == 'optional_long_form') and (jinja_for_loop_dict[section][raw_q].answers[0] != None) ) %}
            <tr class='long_form_row_question'>
              <td colspan="{{ number_of_respondents+4 }}">
                <table class="inner_table" style="break-inside:avoid;">
                  <tr style="width:100%;">
                    <td class="long_form_number"></td>
                    <td class='long_form_question' colspan="{{ number_of_respondents+3 }}">{{ jinja_for_loop_dict[section][raw_q].question }}</td>
                  </tr>

                  {% if jinja_for_loop_dict[section][raw_q].answers[0] != None %}
                    <tr style="width:100%;">
                      <td class="long_form_number"></td>
                      <td colspan="{{ number_of_respondents+3 }}" style="padding-left:.53in;padding-bottom:6px;padding-top:6px;text-align: justify;text-justify: inter-word;">&#8220;{{ jinja_for_loop_dict[section][raw_q].answers[0] }}&#8221;</td>
                    </tr>
                  {% endif %}

                  {% if jinja_for_loop_dict[section][raw_q].answers[0] == None %}
                    <tr style="width:100%;">
                      <td class="long_form_number"></td>
                      <td colspan="{{ number_of_respondents+3 }}" style="padding-left:.53in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;">No comments were provided.</td>
                    </tr>
                  {% endif %}
                </table>

                {% for a in jinja_for_loop_dict[section][raw_q].answers[1:] %}
                  <tr style="width:100%;">
                    <td class="long_form_number"></td>
                    <td colspan="{{ number_of_respondents+3 }}" style="padding-left:.5in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;">&#8220;{{ a }}&#8221;</td>
                  </tr>
                {% endfor %}

              </td>
            </tr>
          {% endif %}

        {% endfor %}
        </table>
        {% endfor %}
      </article>
    </div>
  {% endif %}

  {% if skills_response == False %}
    {% if stats %}
    <div id='statistical_analysis'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='statistical_analysis_title'>Statistical Analysis</h1>
      <!-- {% if ( five_point_scale == False ) %}
        <p style="font-size:16px;">The minimum rating on each evaluation question is 1, and the maximum is 10.</p>
      {% endif %}
      {% if ( five_point_scale == True) %}
        <p style="font-size:16px;">The minimum rating on each evaluation question is 1, and the maximum is 5.</p>
      {% endif %} -->
      <table style="table-layout: fixed; width: 100%;margin-top:-4px;border-collapse: collapse;">
        <th style="padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Aggregated Section Analysis</th>
        <th style="padding-left:.1in;width:15%;text-align:center;font-weight:normal;">Average</th>
        {% for item in section_avg_list %}
        {% for section, average in item.items()%}
        <tr>
          <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ section }}</td>
          <td style="border-right: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ average }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        <!-- <tr>
          <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ section_avg_list_last_item[0] }}<td>
          <td style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ section_avg_list_last_item[1] }}<td>
        </tr> -->
        <tr>
          <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;text-align:right;font-weight:bold;">e&#x03A3;igma<span style="font-size:6pt;position:relative;bottom:6px;font-weight:bold;">SM</span></td>
          <td style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;text-align:center;padding-left:.1in;font-weight:bold;">{{ eSigma_value }}</td>
        </tr>
      </table>

      <table id='assessment_statistics' style="table-layout: fixed; width: 100%;margin-top:24px;border-collapse: collapse;">
        <th style="padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Evaluation Statistics</th>
        <th style="padding-left:.1in;width:15%;text-align:center;font-weight:normal;"></th>
        {% for item in eval_stats_list_of_dicts[:-1] %}
        {% for category, score in item.items()%}
          {% if ( (category != 'Question analysis by Board member response:') and (category != 'Group response analysis:') and (category != 'Question analysis by Committee member response:') ) %}
            <tr>
              <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ category }}</td>
              <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;">{{ score }}</td>
            </tr>
          {% endif %}
          {% if ( (category == 'Question analysis by Board member response:') or (category == 'Group response analysis:') or (category == 'Question analysis by Committee member response:') ) %}
            <tr>
              <td style="border-left: 1px solid #c4590f;padding-left:.1in;font-weight:bold;">{{ category }}</td>
              <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;">{{ score }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        {% endfor %}
        <tr>
          <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ eval_stats_list_of_dicts_last_item[0] }}</td>
          <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;">{{ eval_stats_list_of_dicts_last_item[1] }}</td>
        </tr>
      </table>

      <!-- <div style="margin: 0 auto;margin-top: 16px;width:200px;">
        <p style="margin-top:6px;font-size:12pt;text-align:center;">e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">SM</sup></span> = {{ eSigma_value }}</p>
        {% if ( five_point_scale == False ) %}
          <p style="margin-top:-12px;text-align:center;font-size:9pt;">Scale is 1.00 to 10.00</p>
        {% endif %}
        {% if ( five_point_scale == True ) %}
          <p style="margin-top:-12px;text-align:center;font-size:9pt;">Scale is 1.00 to 5.00</p>
        {% endif %}
      </div> -->

      <div style="margin-top:10px;">
        <p style="text-align:center;font-size:9pt;">Copyright © 2014 - {{ year }} Nasdaq</p>
        <p style="margin-top:-8px;text-align:center;font-size:9pt;">All Rights Reserved</p>
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
</BODY>
</HTML>
