<HTML>
<HEAD>
  <TITLE>{{ title }}</TITLE>
  <link rel="stylesheet" type="text/css" href="{{ style_url }}">
  <style>
    html {height:100%;}
    body {font-family: Garamond;}
  </style>
</HEAD>
<BODY>
<div id='report_body'>
  <div id='title_page' class="border_thick">
      <img src="{{ nasdaq_logo }}" alt="Nasdaq logo goes here" id="nasdaq_logo"/>
      <p style="font-size:28px;text-align: center;margin-top:60px;">Peer and Self-Evaluation Report for {{ director_name }}</p>
      <p style="font-size:20px;text-align: center;margin-top:80px;">Prepared for</p>
      <p style="text-align: center;margin-top:420px;"> Report Date: {{ formatted_date }}</p>
  </div>

  <div>
    <article id='contents'>
    <h1>Table of Contents</h1>
      <ul>
        <li>Evaluation Overview<span style="float:right;">2</span></li>
        {% for item in table_of_contents_titles %}
          {% if item == "#heat_map_title" or item=="#peer_self_comparison_graph_title" %}
            <li style="margin-top:3px;"><a href="{{ item }}"></a><span style="font-size:6pt;position:relative;bottom:6px;">SM</span></li>

          {% elif item=='#CG_flag_title' %}
            {% if (board_or_committee == 'Board')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a><span style="font-size:6pt;position:relative;bottom:6px;">SM</span></li>
            {% elif (board_or_committee == 'committee')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
            {% endif %}

          {% elif item=='#CGPG_method_title' %}
            {% if (board_or_committee == 'Board')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a><span style="font-size:6pt;position:relative;bottom:6px;">SM</span> Methodology</li>
            {% elif (board_or_committee == 'Committee')  %}
              <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
            {% endif %}

          {% else %}
            <li style="margin-top:3px;"><a href="{{ item }}"></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </article>

    <article id='assessment_overview'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Overview</p>
      <p style="margin-top:-10px;text-align: justify;text-justify: inter-word;">
        The Board of Directors of {{ client_name }} completed a director evaluation.
        All responses and comments presented throughout this report in all graphics and reporting
        features are anonymized and randomized to promote candid feedback and adhere to best practices
        in corporate governance. The goal of this report is to provide a greater understanding of {{ director_name}}&#8217;s
        performance and contributions, highlight areas of strength and areas for improvement, and improve overall performance and effectiveness.
      </p>
    </article>

    <article id='report_sections'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Sections</p>
      <table>
      {% for label, section_name in section_names_and_labels.items() %}
      <tr>
        <td style="width:36px;">{{ label }}</td>
        <td>{{ section_name }}</td>
      </tr>
      {% endfor %}
    </table>
    </article>

    <div>
      <p style="font-size:16px;margin-top:50px;"><i>Sample assessment question with rating scale for reference:</i></p>
      <table id="scale_table">
        <tr style="margin-left:-100px;margin-top:2px;">
          <td style="padding-left:12px;padding-top:2px;width:54px;text-align: center;vertical-align: top;">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td style="text-align: justify;text-justify: inter-word;">{{ questions_df[questions_df['type'].isin(['matrix', 'likert', 'long_form'])]['question'].iloc[0] }}</td>
        </tr>
        <tr>
          <td colspan="2">
            {% if five_point_scale == False %}
              <img style="margin-left:60px;" src="{{ scale_image }}" alt="Scale Image goes here" id="scale_image"/>
            {% else %}
              <img style="margin-left:66px;max-height:70px;display: block;" src="{{ five_scale_image }}" alt="Scale Image goes here" />
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    <p style="page-break-after: always;">&nbsp;</p>
  </div>

  {% if heat_map_section_bool == True %}
    <div id='heat_map_section'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 style="font-weight:normal;font-size:15pt;text-align:center;">Director Peer and Self-Evaluation</h1>
    <h2 id='heat_map_title' style="display: inline;font-weight:normal;font-size:15pt;">Corporate Governance Heat Map</h2><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:10px">SM</span>

    {% if na_in_heat_map == True %}
    <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graph below displays the directors’ responses to the rated questions. Areas of green represent confidence, yellow represents caution, red represents concern, and white represents &#8220;N/A&#8221;.
      The section numbers are listed in the first row, the question numbers are in the second row, and the section rating averages are in the bottom row.
      The numbered rows represent directors’ responses to the questions; however, the responses in the rows have been randomized to maintain anonymity.</p>
    {% endif %}
    {% if na_in_heat_map == False %}
    <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graph below displays the directors’ responses to the rated questions. Areas of green represent confidence, yellow represents caution, and red represents concern.
      The section numbers are listed in the first row, the question numbers are in the second row, and the section rating averages are in the bottom row.
      The numbered rows represent directors’ responses to the questions; however, the responses in the rows have been randomized to maintain anonymity.</p>
    {% endif %}

    <div style="margin-top:-24px;">
      <table style="table-layout: fixed;border-collapse: collapse;font-size:70%;margin-left:auto;margin-right: auto;max-width:670px;">
        <tr>
          <th style="max-width:120px;min-width:20px;">&nbsp;</th>
          {% for _, number in hm_numbers_borders.items() %}
          <th style="width:{{ percentage_size }}px;">&nbsp;</th>
          {% endfor %}
        </tr>
        <tr>
          <td></td>
          {% for k, v in hm_section_length_counts.items() %}
          <td style="text-align:center;background-color:#BE6E28;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;" colspan="{{ v }}">
            {{ k }}
          </td>
          {% endfor %}
        </tr>

        <tr>
          <td></td>
          {% for k, v in hm_numbers_borders.items() %}
            {% if v[1] == 'left' %}
              <td style="text-align:center;border:1px solid black;border-left:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
            {% endif %}
            {% if v[1] == 'right' %}
              <td style="text-align:center;border:1px solid black;border-right:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
            {% endif %}
            {% if v[1] == 'None' %}
              <td style="text-align:center;border:1px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
            {% endif %}
          {% endfor %}
        </tr>

        {% for row in hm_rows_directions %}
          {% if five_point_scale == False %}
          <tr>
            <td style="font-weight:bold;font-size:{{ hm_cell_height }}pt;text-align:right;">{{ (row.keys()|list)[0] }}</td>
            {% for item, zipped_object in row.items() %}
              {% for num, direction in zipped_object %}
                {% if ( (num == 10) or (num == 9) or (num == 8) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if ( (num == 7) or (num == 6) or (num == 5) or (num == 4)) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if ( (num == 3) or (num == 2) or (num == 1) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if num == 0 %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </tr>
          {% endif %}

          {% if five_point_scale == True %}
          <tr>
            <td style="font-weight:bold;text-align:right;">{{ (row.keys()|list)[0] }}</td>

            {% for item, zipped_object in row.items() %}
              {% for num, direction in zipped_object %}
                {% if ( (num == 5) or (num == 4) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if (num == 3) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if ( (num == 2) or (num == 1) ) %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}

                {% if num == 0 %}
                  {% if direction == 'left' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'right' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                  {% endif %}
                  {% if direction == 'None' %}
                    <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </tr>
          {% endif %}
        {% endfor %}

        <tr>
          <td></td>
          {% for k, v in heat_map_averages.items() %}
          <td style="background-color:#BE6E28;text-align:center;font-weight:bold;border:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;" colspan="{{ v[0] }}">{{ v[1] }}</td>
          {% endfor %}
        </tr>
      </table>
    </div>

    <p style="text-align: center;font-size:12pt;margin-top:10px;">e&#x03A3;igma<span style="display:inline;font-size:7px;position:relative;bottom:6px">SM</span> = {{ eSigma_value }}</p>
    {% if ( five_point_scale == False ) %}
      <p style="text-align: center;font-size:9pt;margin-top:-10px;">Scale is 1.00 to 10.00</p>
    {% endif %}
    {% if ( five_point_scale == True ) %}
      <p style="text-align: center;font-size:9pt;margin-top:-10px;">Scale is 1.00 to 5.00</p>
    {% endif %}

    {% if na_in_heat_map == True %}
      {% if ( five_point_scale == False ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span>, <span>N/A = white</span></p>
        </div>
      {% endif %}
      {% if ( five_point_scale == True ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 2 ratings = <span style="color:red;font-weight:bold;">red</span>, 3 rating = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 4 - 5 ratings = <span style="color:green;font-weight:bold;">green</span>, <span>N/A = white</span></p>
        </div>
      {% endif %}
    {% endif %}

    {% if na_in_heat_map == False %}
      {% if ( five_point_scale == False ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span></p>
        </div>
      {% endif %}
      {% if ( five_point_scale == True ) %}
        <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
          <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 2 ratings = <span style="color:red;font-weight:bold;">red</span>, 3 rating = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 4 - 5 ratings = <span style="color:green;font-weight:bold;">green</span></p>
        </div>
      {% endif %}
    {% endif %}

    <article>
      <p style="font-size:10pt;text-align: justify;text-justify: inter-word;"><span style="font-weight:bold;">e&#x03A3;igma<span style="display:inline;font-size:7px;position:relative;bottom:6px">SM</span></span>
      is a Nasdaq metric that averages the total statistical score and provides a year over year comparative measurement of performance. </p>
    </article>
  </div>
  {% endif %}

  {% if peer_self_comparison_bool %}
    <div id='peer_self_comparison'>
      <h2 style="display:inline;" id='peer_self_comparison_graph_title'>Peer and Self-Evaluation Comparison Graph</h2><span style="display:inline;font-weight:bold;font-size:8px;position:relative;bottom:12px;">SM</span>
      
      {% if no_self_ratings_bool==False %}
        {% if director_in_last_year %}
          <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graphs below contrast {{ director_name }}&#8217;s self-rating against the average ratings received from peer directors, and the Board’s combined average rating. Note: The peer rating average does not include the director’s self-rating.</p>
        {% else %}
          <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graph below contrasts {{ director_name }}&#8217;s self-rating against the average ratings received from peer directors, and the Board’s combined average rating. Note: The peer rating average does not include the director’s self-rating.</p>
        {% endif %}
      {% else %}
        {% if director_in_last_year %}
          <p style="font-size:16px;">The graphs below compare the average rating for {{ director_name }} against the Board’s combined average rating
              in each section.
          </p>
        {% else %}
          <p style="font-size:16px;">The graph below compares the average rating for {{ director_name }} against the Board’s combined average rating
              in each section.
          </p>
        {% endif %}
      {% endif %}
      <img src="{{ peer_self_bar_chart }}" alt="Peer and Self bar chart goes here" id="peer_self_image"  style="max-height:240px;margin-top:8px;display:block;margin-left:auto;margin-right:auto;max-width:670px;min-width:460px;" />
    </div>
  {% endif %}

  {% if hilo_section_bool %}
    <div id='hilo'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='hilo_title'>Highest and Lowest Rated Questions</h1>
      <p style="text-align: justify;text-justify: inter-word;">
        This section highlights the questions that received the highest and lowest average ratings.
        Note: If more than one question received the same average rating, then each question with that rating is listed, up to a maximum of five questions.
      </p>

      {% if number_of_sections > 1 %}
      <table id='hilo_table'>
        <th colspan="4" class='hi_header'>Highest Rated Questions</th>
        <tr>
          <td class="hi_header">Rating</td>
          <td class="hi_header">Section</td>
          <td class="hi_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_hi.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_cell' style="white-space: nowrap;text-align:center;">{{ row['section'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
        <th colspan="4" class='lo_header'>Lowest Rated Questions</th>
        <tr>
          <td class="lo_header">Rating</td>
          <td class="lo_header">Section</td>
          <td class="lo_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_lo.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_cell' style="white-space: nowrap;text-align:center;">{{ row['section'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      {% if number_of_sections == 1 %}
      <table id='hilo_table'>
        <th colspan="3" class='hi_header'>Highest Rated Questions</th>
        <tr>
          <td class="hi_header">Rating</td>
          <td class="hi_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_hi.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
        <th colspan="3" class='lo_header'>Lowest Rated Questions</th>
        <tr>
          <td class="lo_header">Rating</td>
          <td class="lo_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_lo.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  {% endif %}

  {% if self_skills_present %}
    <div id='skills_matrix_section'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h2 id='skills_matrix_title' style="font-weight:normal;font-size:20px;margin-top:-12px;">Director Skills Matrix</h2>
      <p style="text-align: justify;text-justify: inter-word;">As part of the evaluation,
            directors rated their expertise in  areas relevant to the requirements of
            the role of a director on the Company’s board of directors. The Skills Matrix utilized a scale of
            1 to 10, with &#8220;limited knowledge&#8221; scored as a 1 and &#8220;high expertise&#8221; scored as a 10.
          </p>
          <p style="text-align: justify;text-justify: inter-word;">The gradient color visualization highlights directors’ areas of strengths and those with limited knowledge.</p>

          <div>
            <table style="border:1px solid black;table-layout: fixed;border-spacing:0;border-collapse: collapse;font-size:80%;margin-left:auto;margin-right: auto;">
              <tr>
                <th style="min-width:250px;border-right:1px solid black;"></th>
                <th style="border-right:1px solid black;"></th>
                <th></th>
              </tr>
              <tr>
                <td style="font-weight: bold;text-align:left;border-right:1px solid black;border-bottom:1px solid black;">Skill Areas</td>
                <td style="font-weight:bold;text-align:center;border-right:1px solid black;border-bottom:1px solid black;">Self-Rating</td>
                <td style="font-weight: bold;text-align:center;border-bottom:1px solid black;">Average Rating of All Directors</td>
              </tr>
              {% for _, row in skills_matrix_df.iterrows() %}
                  <tr>
                    <td style="border-right:1px solid black;font-weight:normal;">{{ row['Skill Areas'] }}</td>

                    {% if (row['Self-Rating']|float == 10.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#63be7b;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 10.00) and (row['Self-Rating']|float >= 9.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#86c97e;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 9.00) and (row['Self-Rating']|float >= 8.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#a9d27f;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 8.00) and (row['Self-Rating']|float >= 7.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#ccdd82;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 7.00) and (row['Self-Rating']|float >= 6.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#eee683;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 6.00) and (row['Self-Rating']|float >= 5.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#fedd81;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 5.00) and (row['Self-Rating']|float >= 4.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#fcbf7b;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 4.00) and (row['Self-Rating']|float >= 3.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#fba276;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 3.00) and (row['Self-Rating']|float >= 2.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#f98570;">{{ row['Self-Rating'] }}</td>
                    {% endif %}
                    {% if (row['Self-Rating']|float < 2.00) and (row['Self-Rating']|float >= 1.00) %}
                    <td style="text-align:center;border-right:1px solid black;background-color:#f8696b;">{{ row['Self-Rating'] }}</td>
                    {% endif %}


                    {% if (row['Average Rating of All Directors']|float == 10.0) %}
                    <td style="text-align:center;background-color:#63be7b;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 10.0) and (row['Average Rating of All Directors']|float >= 9.00) %}
                    <td style="text-align:center;background-color:#86c97e;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 9.0) and (row['Average Rating of All Directors']|float >= 8.00) %}
                    <td style="text-align:center;background-color:#a9d27f;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 8.0) and (row['Average Rating of All Directors']|float >= 7.00) %}
                    <td style="text-align:center;background-color:#ccdd82;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 7.0) and (row['Average Rating of All Directors']|float >= 6.00) %}
                    <td style="text-align:center;background-color:#eee683;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 6.0) and (row['Average Rating of All Directors']|float >= 5.00) %}
                    <td style="text-align:center;background-color:#fedd81;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 5.0) and (row['Average Rating of All Directors']|float >= 4.00) %}
                    <td style="text-align:center;background-color:#fcbf7b;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 4.0) and (row['Average Rating of All Directors']|float >= 3.00) %}
                    <td style="text-align:center;background-color:#fba276;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 3.0) and (row['Average Rating of All Directors']|float >= 2.00) %}
                    <td style="text-align:center;background-color:#f98570;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}
                    {% if (row['Average Rating of All Directors']|float < 2.0) and (row['Average Rating of All Directors']|float >= 1.00) %}
                    <td style="text-align:center;background-color:#f8696b;">{{ row['Average Rating of All Directors'] }}</td>
                    {% endif %}

                  </tr>
              {% endfor %}

              <tr>
                <td style="font-weight:bold;text-align:right;border-top:1px solid black;border-right:1px solid black;">Average:</td>
                <td style="font-weight:bold;text-align:center;border-top:1px solid black;border-right:1px solid black;">{{ skills_matrix_info['Self-Average'] }}</td>
                <td style="font-weight:bold;text-align:center;border-top:1px solid black;">{{ skills_matrix_info['Board-Average'] }}</td>
              </tr>
            </table>
          </div>
        </div>
      {% endif %}

  {% if peer_self_report_bool %}
    <p style="page-break-before: always;">&nbsp;</p>
    <div id='peer_and_self_report'>
      <h1 id='peer_and_self_report_title'>Director Peer and Self-Evaluation Report</h1>
      <p style="text-align: justify;text-justify: inter-word;">This section assesses the data collected from all elements of the evaluation to form an integrated picture of the director’s overall performance.</p>

      {% if no_self_ratings_bool==False %}
      <p style="text-align: justify;text-justify: inter-word;">
        Note: The director&#8217;s average column includes the director’s self-rating and the ratings from other directors.
        The Board’s average for each question is the average of every director’s self-rating and peer rating for each question.
      </p>
      {% endif %}
      {% if no_self_ratings_bool==True %}
      <p style="text-align: justify;text-justify: inter-word;">
        Note: The director&#8217;s average column includes the director’s ratings from other directors.
        The Board’s average for each question is the average of every director’s peer rating for each question.
      </p>
      {% endif %}

      <article id='peer_self_sections' style="margin-top:-1em;">

      <!-- begin loop -->
      {% for section in jinja_for_loop_dict.keys() %}
        {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
          <table class='flag_table' style="break-inside:avoid;">
        {% endif %}
        {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
          <table class='flag_table' style="break-inside:avoid;margin-top:.67em;">
        {% endif %}
            <tr>
              <th style="width:20px;"></th>
              <th style="width:16px;"></th>
              <th style="width:{{ question_column_width }}%;"></th>
              {% if no_self_ratings_bool==False %}
                <th style="width:65px;"></th>
              {% endif %}
              <th colspan="{{ number_of_respondents-1 }}"></th>
              <th style="width:70px;"></th>
              <th style="width:65px;"></th>
            </tr>

            {% if no_self_ratings_bool==False %}
              <tr style="width:100%;">
                <td colspan="{{ number_of_respondents+5 }}">
                    <h2>{{ section }}</h2>
                </td>
              </tr>
            {% endif %}
            {% if no_self_ratings_bool==True %}
              <tr style="width:100%;">
                <td colspan="{{ number_of_respondents+4 }}">
                    <h2>{{ section }}</h2>
                </td>
              </tr>
            {% endif %}

            {% if no_self_ratings_bool==False %}
              <tr style="margin-top:-4px;">
                <td style="text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+5 }}">{{ section_data[section] }}</td>
              </tr>
            {% endif %}
            {% if no_self_ratings_bool==True %}
              <tr style="margin-top:-4px;">
                <td style="text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">{{ section_data[section] }}</td>
              </tr>
            {% endif %}

            {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique())) %}
              <tr style="width: 100%;margin-top:12px;">
                <td style="width:20px;"></td>
                <td style="width:16px;"></td>
                <td style="width:{{ question_column_width }}%;"></td>
                {% if no_self_ratings_bool==False %}
                  <td style='border-right: 1px solid black;border-bottom:1px solid black;width:65px;vertical-align:bottom;text-align: center;font-weight:bold;'>Self-Rating</td>
                {% endif %}
                <td colspan="{{ number_of_respondents-1 }}" scope="colgroup" style="border-bottom: 1px solid black;text-align:center;vertical-align:bottom;text-align: center;font-weight:bold;">Ratings from Peer Directors</td>
                <td style="width:70px;text-align:center;border-bottom:1px solid black;border-right:1px solid black;border-left:1px solid black;vertical-align:bottom;text-align: center;font-weight:bold;">{{ initials }} Average</td>
                <td style="border-bottom: 1px solid black;width:65px;vertical-align:bottom;text-align: center;font-weight:bold;">Board Average</td>
              </tr>
            {% endif %}

            <!-- first question grouped with headers and section name and data -->
            {% if (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'likert') %}
              <tr>
                <td class='rated_number'>{{ (jinja_for_loop_dict[section].keys()|list)[0] }}</td>
                <td class='rated_question' colspan="2">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>

                {% if no_self_ratings_bool==False %}
                  <td class='rated_answer' style="border-right:1px solid black;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][0] }}</td>
                  {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][1:] %}
                    {% if a == 'N/A' %}
                      <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                    {% endif %}
                    {% if a != 'N/A' %}
                      <td class='rated_answer'>{{ a }}</td>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% if no_self_ratings_bool==True %}
                  {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'] %}
                    {% if a == 'N/A' %}
                      <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                    {% endif %}
                    {% if a != 'N/A' %}
                      <td class='rated_answer'>{{ a }}</td>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <td class="rated_question_average" style="border-right:1px solid black;border-left:1px solid black;text-align: center;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['average'] }}</td>
                <td class="rated_question_average" style="text-align: center;">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['board_average'] }}</td>
              </tr>
            {% endif %}

            {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'long_form' %}
              <tr class='long_form_row_question' colspan="{{ number_of_respondents+5 }}">
                <table class="inner_table" style="break-inside:avoid;" >
                  <tr style="width:100%;" colspan="{{ number_of_respondents+5 }}">
                    <td class="long_form_number">{{ (jinja_for_loop_dict[section].keys()|list)[0] }}</td>
                    <td class='long_form_sub_question' style="text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
                  </tr>
                  <tr style="width:100%;" colspan="{{ number_of_respondents+5 }}">
                    <td class="long_form_number"></td>
                    <td colspan="{{ number_of_respondents+4 }}" style="padding-left:.5in;padding-bottom:6px;padding-top:6px;text-align: justify;text-justify: inter-word;">&#8220;{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][0] }}&#8221;</td>
                  </tr>
                </table>
              </tr>

              {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['answers'][1:] %}
              <tr class='long_form_row_question' colspan="{{ number_of_respondents+5 }}">
                <table class="inner_table" style="break-inside:avoid;">
                  <tr style="width:100%;" colspan="{{ number_of_respondents+4 }}">
                    <td class="long_form_number"></td>
                    <td style="padding-left:.5in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">&#8220;{{ a }}&#8221;</td>
                  </tr>
                </table>
              </tr>
              {% endfor %}
            {% endif %}
            {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
              </table>
            {% endif %}
            {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
              </table>
            {% endif %}

          <table class='flag_table' style="margin-top:-2px;">
            <tr>
              <th style="width:20px;"></th>
              <th style="width:16px;"></th>
              <th style="width:{{ question_column_width }}%;"></th>
              {% if no_self_ratings_bool==False %}
                <th style="width:65px;"></th>
              {% endif %}
              <th colspan="{{ number_of_respondents-1 }}"></th>
              <th style="width:70px;"></th>
              <th style="width:65px;"></th>
            </tr>
            {% for number in (jinja_for_loop_dict[section].keys()|list)[1:] %}

              {% if (jinja_for_loop_dict[section][number]['type'] == 'likert') %}
                <tr>
                  <td class='rated_number'>{{ number }}</td>
                  <td class='rated_question' colspan="2">{{ jinja_for_loop_dict[section][number]['question'] }}</td>

                  {% if no_self_ratings_bool==False %}
                    <td class='rated_answer' style="border-right:1px solid black;">{{ jinja_for_loop_dict[section][number]['answers'][0] }}</td>
                    {% for a in jinja_for_loop_dict[section][number]['answers'][1:] %}
                      {% if a == 'N/A' %}
                        <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                      {% endif %}
                      {% if a != 'N/A' %}
                        <td class='rated_answer'>{{ a }}</td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% if no_self_ratings_bool==True %}
                    {% for a in jinja_for_loop_dict[section][number]['answers'] %}
                      {% if a == 'N/A' %}
                        <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                      {% endif %}
                      {% if a != 'N/A' %}
                        <td class='rated_answer'>{{ a }}</td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <td class="rated_question_average" style="border-right:1px solid black;border-left:1px solid black;text-align: center;">{{ jinja_for_loop_dict[section][number]['average'] }}</td>
                  <td class="rated_question_average" style="text-align: center;">{{ jinja_for_loop_dict[section][number]['board_average'] }}</td>
                </tr>
              {% endif %}

              <!-- Will inner tables break if likerts come after? -->
              {% if jinja_for_loop_dict[section][number]['type'] == 'long_form' %}
                <tr class='long_form_row_question'>
                  <td colspan="{{ number_of_respondents+5 }}">
                    <table class="inner_table" style="break-inside:avoid;" >
                      <tr style="width:100%;">
                        <td class="long_form_number">{{ number }}</td>
                        <td class='long_form_sub_question' style="text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][number]['question'] }}</td>
                      </tr>
                      <tr style="width:100%;">
                        <td class="long_form_number"></td>
                        <td colspan="{{ number_of_respondents+4 }}" style="padding-left:.5in;padding-bottom:6px;padding-top:6px;text-align: justify;text-justify: inter-word;">&#8220;{{ jinja_for_loop_dict[section][number]['answers'][0] }}&#8221;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                {% for a in jinja_for_loop_dict[section][number]['answers'][1:] %}
                  <tr class='long_form_row_question'>
                    <td colspan="{{ number_of_respondents+5 }}">
                      <table class="inner_table" style="break-inside:avoid;">
                        <tr style="width:100%;" colspan="{{ number_of_respondents+4 }}">
                          <td class="long_form_number"></td>
                          <td style="padding-left:.5in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">&#8220;{{ a }}&#8221;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}

            {% endfor %}
          </table>
        {% endfor %}
      </article>
    </div>
  {% endif %}

  {% if statistical_analysis_bool %}
    <div id='statistical_analysis'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='statistical_analysis_title'>Statistical Analysis</h1>

    <table style="table-layout: fixed; width: 100%;margin-top:-4px;border-collapse: collapse;">
      <th style="border-left: 1px solid #c4590f;padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Aggregated Section Analysis</th>
      <th style="border-right: 1px solid #c4590f;padding-left:.1in;width:15%;text-align:center;font-weight:normal;">Average</th>
      {% for item in section_avg_list[:-1] %}
      {% for section, average in item.items()%}
      <tr>
        <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ section }}</td>
        <td style="border-right: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ average }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
      <tr>
        <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ section_avg_list_last_item[0] }}</td>
        <td style="border-right: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ section_avg_list_last_item[1] }}</td>
      </tr>
      <tr>
        <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;text-align:right;font-weight:bold;">e&#x03A3;igma<span style="font-size:6pt;position:relative;bottom:6px;font-weight:bold;">SM</span></td>
        <td style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;text-align:center;padding-left:.1in;font-weight:bold;">{{ eSigma_value }}</td>
      </tr>
    </table>

    <table id='assessment_statistics' style="table-layout: fixed; width: 100%;margin-top:24px;border-collapse: collapse;">
      <th style="border-left: 1px solid #c4590f;padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Evaluation Statistics</th>
      <th style="border-right: 1px solid #c4590f;padding-left:.1in;width:15%;text-align:center;font-weight:normal;"></th>
      {% for item in eval_stats_list_of_dicts[:-1] %}
        {% for category, score in item.items()%}
          {% if ( (category != 'Question analysis by Board member response:') and (category != 'Group response analysis:') ) %}
            <tr>
              <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ category }}</td>
              <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;">{{ score }}</td>
            </tr>
          {% endif %}
          {% if ( (category == 'Question analysis by Board member response:') or (category == 'Group response analysis:') ) %}
            <tr>
              <td style="border-left: 1px solid #c4590f;padding-left:.1in;font-weight:bold;">{{ category }}</td>
              <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;">{{ score }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <tr>
        <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ eval_stats_list_of_dicts_last_item[0] }}</td>
        <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;">{{ eval_stats_list_of_dicts_last_item[1] }}</td>
      </tr>
    </table>

      <div style="margin-top:10px;">
        <p style="text-align:center;font-size:9pt;">Copyright © 2014 - {{ year }} Nasdaq</p>
        <p style="margin-top:-8px;text-align:center;font-size:9pt;">All Rights Reserved</p>
      </div>
    </div>
  {% endif %}

</div>
</BODY>
</HTML>
