@font-face {
font-family: 'Garamond';
font-style: normal;
font-weight: normal;
src: local('Garamond'), url('garamond/garamond_[allfont.ru].woff') format('woff');
}
@page:first {
   @bottom-right {
     content: '';
   }
   margin:.35in;
}
@page {
  size: letter;
  counter-increment: page;
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 12px;
    color: grey;
    font-family:Garamond;
  }
}

@page :nth(2) {
  size: letter;
  margin-top:.35in;
  margin-bottom: .4in; !important;
}

@page :nth(3) {
  size: letter;
  /* margin-top:.35in; */
  margin-bottom: .4in; !important;
}

#nasdaq_logo {max-width:245px;display: block;margin-left: auto;margin-right: auto;max-height: 600px;margin-top:110px;}
#client_logo {max-width:180px;display: block;margin-left: auto;margin-right: auto;max-height: 300px;margin-top:30px;}

#title_page {width:730px;height:970px;}
.border_thick {
  border:3px solid black;
  position: relative;
  z-index:10;
}

.border_thick:before{
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  top:2px;
  left:2px;
  right:2px;
  bottom:2px;
  border:1px solid black;
}

html body article#contents {
  /* break-before: right;
  break-after: left; */
  page: no-chapter; }
  html body article#contents h1 {
    font-size: 14pt;
    text-align: center;
    font-weight:normal;}
  html body article#contents ul {
    list-style: none;
    padding-left: 0; }
    /* html body article#contents ul li {
      border-top: .25pt solid #c1c1c1;
      padding-top: .25cm; } */
      html body article#contents ul li::before {
        content: '';}
      html body article#contents ul li a {
        color: inherit;
        text-decoration: none; }
        html body article#contents ul li a::before {
          content: target-text(attr(href)); }
        html body article#contents ul li a::after {
          content: target-counter(attr(href), page);
          float: right; }

html body article#report_sections h1 {
  font-size: 14pt;
  text-align: center;
  font-weight:normal;}
html body article#report_sections table {
  width:100%;
  table-layout: fixed;
  border-spacing:0;
  border-collapse: collapse;
  }
    /* html body article#report_sections ul li::before {
      content: '';} */

html body div h1#heat_map_title {
  font-weight:normal;
  font-size:20px;
}

#scale_table {border: 1px solid #BC5D28;width:670px;min-height:100px;}
#scale_image {width:230px;max-height:70px;}

#heat_map_section {}
#heat_map_image {max-width:600px;}

html body div#radar_chart h1#radar_title {
  font-weight:normal;
  font-size:20px;
  margin-top:-12px;
}

#hilo_table {
width:100%;
/* table-layout: fixed; */
border-spacing:0;
border-collapse: collapse;
}

html body div#hilo h1#hilo_title {
  font-weight:normal;
  font-size:20px;
  margin-top:-12px;
}

.hi_header {
  color: white;
  background-color: #008000;
  border: 1px solid #FFFFFF;
  text-align: center;
  font-weight: bold;
}
.hi_header_left {
  color: white;
  background-color: #008000;
  border: 1px solid #FFFFFF;
  text-align: left;
  font-weight: bold;
}

.lo_header {
  color: black;
  background-color: #FFFF00;
  border: 1px solid #FFFFFF;
  text-align: center;
  font-weight: bold;
}
.lo_header_left {
  color: black;
  background-color: #FFFF00;
  border: 1px solid #FFFFFF;
  text-align: left;
  font-weight: bold;
}

.hilo_cell {
  background-color: #F3F3F3;
  border: 1px solid #FFFFFF;
  text-align: left;
  vertical-align: top;
}
.hilo_rating {
  background-color: #F3F3F3;
  border: 1px solid #FFFFFF;
  text-align: center;
  vertical-align: top;
}
html body div#swot h2#skills_matrix_title {
  font-weight:normal;
  font-size:20px;
  margin-top:-12px;
}

html body div#swot h2#swot_title {
  font-weight:normal;
  font-size:20px;
  margin-top:-12px;
}

html body div#swot table#swot_table {
  /* border: 1px solid black; */
  width:100%;
  table-layout: fixed;
  border-spacing:0;
  border-collapse: collapse;
}

html body div#highlights_actionpts h2#highlights_actionpts_title {
  font-weight:normal;
  font-size:20px;
  margin-top:-12px;
}

html body div h1#CGPG_title {
  font-weight:normal;
  font-size:20px;
}
html body article#report_sections ul {
  list-style: none;
  padding-left: 0; }
  /* html body article#contents ul li {
    border-top: .25pt solid #c1c1c1;
    padding-top: .25cm; } */
    html body article#report_sections ul li::before {
      content: '';}

html body div#CG_Flag {
  margin-top: -50px;
}

html body div#CG_Flag article#CG_Sections h2 {
  font-size: 12pt;
  font-weight: bold;
}

html body div h1#CGPG_method_title {
  font-weight:normal;
  font-size:20px;
}

html body div#CG_Flag h1#CGPG_method_title {
  font-weight:normal;
  font-size:20px;
}
html body div#CG_Flag h1#CG_flag_title {
  font-weight:normal;
  font-size:20px;
}

table.flag_table {
  /* border: 1px solid black; */
  width:100%;
  table-layout: fixed;
  border-spacing:0;
  border-collapse: collapse;
}
.flag {
  width: 24px;
}
/* .flag_cell {
  text-align: right;
  width:16.666666%;
  border: 1px solid red;
} */
.flag_legend {
  text-align: left;
  width:18%;
  font-size:10pt;
  /* border:1px solid red; */
}

.inner_table {
width:100%;
table-layout: fixed;
border-spacing:0;
border-collapse: collapse;
}
@media print {
  table.inner_table,
  table.inner_table tr td,
  table.inner_table tr th {
    page-break-inside: avoid;
  }
}

.matrix_question {
padding-left: .1in;
}

.long_form_question{
padding-left: 12px;
text-align: justify;
text-justify: inter-word;
}

.long_form_number {
  width: 16px;
  vertical-align:top;
}
.long_form_response {
  text-align: justify;
  text-justify: inter-word;
  padding-left: .5in;
  padding-bottom:6px;
  padding-top:6px;
}

.rated_number {
  width: 16px;
  vertical-align:top;
}

.rated_question {
  width:50%;
  padding-left: .1in;
}

.rated_answer {
  text-align: center;
  vertical-align: top;
  min-width: 150px;
}
.rated_average {
  font-weight: bold;
  border-left:1px solid black;
  text-align:center;
  vertical-align:top;
}


/* #statistical_analysis {width:750px;height:990px;} */

html body div#statistical_analysis h1#statistical_analysis_title {
  font-weight:normal;
  font-size:20px;
  margin-top:-12px;
}

html body div#statistical_analysis table#section_average_analysis tr td:last-child {
  border-right: 1px solid #c4590f;
}

html body div#statistical_analysis table#section_average_analysis tr:last-child {
  border-bottom: 1px solid #c4590f;
}
html body div#statistical_analysis table#section_average_analysis tr td:first-child {
  border-left: 1px solid #c4590f;
}

html body div#statistical_analysis table th {
  background-color:#c4590f;
  color: white;
}

html body div#statistical_analysis table tr:nth-child(even) {
  background-color:#fbe4d5
}

html body div#statistical_analysis table#assessment_statistics tr td:last-child {
  border-right: 1px solid #c4590f;
}

html body div#statistical_analysis table#assessment_statistics tr:last-child {
  border-bottom: 1px solid #c4590f;
}
html body div#statistical_analysis table#assessment_statistics tr td:first-child {
  border-left: 1px solid #c4590f;
}
/* html body div#statistical_analysis table#assessment_statistics td {
  border-right: 1px solid blue;
} */
.assessment_statistics_score{
  text-align: right;
  padding-left:.1in;
  padding-right: .1in;
  /* border: 1px solid #c4590f; */
}
