{% extends "admin/templates/admin_template.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block main %}
<div class='container'>
  <div class='row'>
    <div class="col">
      <h1>Admin Dashboard</h1>
    </div>
  </div>
</div>
{% endblock%}