<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Custom Template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="">
    <title>{% block title %}{% endblock %}</title>
    <style>

    /* Style the tab */
    .tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border-bottom: 1px solid #ccc;
    border-top: none;
    }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #ffffff;">
        <a class="navbar-brand" href="/"><img style="max-width: 50px;" src="{{ url_for('static', filename='img/favicon.png') }}"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bea_uploader') }}">BEA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('fsr_uploader') }}">FSR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('peer_uploader') }}">Peer Reports</a>
                </li>                
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <img style="max-height: 50px;" src="{{ url_for('static', filename='img/nasdaq_logo.png') }}"/>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

<footer class="page-footer font-small blue pt-4" style="background-color:#0090bf;position: fixed;bottom:0px;left:0px;right:0;margin-bottom:0;height:120px;">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-6 mt-6">
          <h5 class="text-uppercase" style="color: white;margin-left: 40px;">Clear Report Cache</h5>
          <form action= "/delete" method='post'>
          <button style='margin-left: 40px;margin-top: 6px;' class="btn btn-secondary" type = "submit", name="clear_cache" value='clear_cache'>Clear</button>
          </form>
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
      </div>
    </div>
    <div class="footer-copyright text-center py-3" style="color:white;">© 2020 Copyright:
      <a href="https://nasdaq.com/" style="color: white;"> Nasdaq.com</a>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    {% block script %}{% endblock %}

    <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        </script>    
</body>

</html>