{% extends 'public/templates/public_template.html' %}

{% block title %}Server Error{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class="col">
            <h1>Server Error</h1>
            <hr>
            <p class="text-muted">500 Internal Server Error: The server encountered 
                an internal error and was unable to complete your request. Either the server is 
                overloaded or there is an error in the application.</p>
        </div>
    </div>  
</div>
{% endblock %}