{% extends "public/templates/public_template.html" %}
{% block title %}Nasdaq - BEA{% endblock %}


{% block main %}
<div class="container" >
    <h1 style="font-size:26pt;margin-top: 20px;">BEA Report Generator</h1>
    <hr>
 
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'showcase')">BEA Report</button>
      <button class="tablinks" onclick="openCity(event, 'comparative')">Comparative BEA Report</button>
    </div>
 
    <div class="container tabcontent" style="margin-left:16px;margin-top:16px" id="showcase">
       <form action = "" method = "POST" enctype = "multipart/form-data">
        <div class="form-group">
          <h4>Upload CSV Export</h4>
          <input type = "file" name = "bea_export" />
        </div>
        <div class="form-group" style="margin-top:-14px;">
          <input type="checkbox" id="randomize" name="randomize_bea" value="True">
          <input id='randomize_hidden' type='hidden' value='' name='randomize_bea'>
          <label for="randomize">Randomize BEA Report?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="heatmap" name="create_heatmap" value="False">
          <input id='heatmap_hidden' type='hidden' value='' name='create_heatmap'>
          <label for="heatmap">Create Heat Map?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="cgpg" name="create_cgpg" value="False">
          <input id='cgpg_hidden' type='hidden' value='' name='create_cgpg'>
          <label for="cgpg">Create Corporate Governance Priority Graph?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="web" name="create_web" value="False">
          <input id='web_hidden' type='hidden' value='' name='create_web'>
          <label for="web">Create Relationship Web Page?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="hilo" name="create_hilo" value="False">
          <input id='hilo_hidden' type='hidden' value='' name='create_hilo'>
          <label for="hilo">Create Hi-Lo Page?</label><br>
        </div>        

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="swot" name="create_swot" value="False">
          <input id='swot_hidden' type='hidden' value='' name='create_swot'>
          <label for="swot">Create SWOT Page?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="high_act_pts" name="create_high_act_pts" value="False">
          <input id='high_act_pts_hidden' type='hidden' value='' name='create_high_act_pts'>
          <label for="high_act_pts">Create Highlights and Action Points Page?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="cgfr" name="create_cgfr" value="False">
          <input id='cgfr_hidden' type='hidden' value='' name='create_cgfr'>
          <label for="cgfr">Show Corporate Governance Flag Report Methodology?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="cgfr_legend" name="create_cgfr_legend" value="False">
          <input id='cgfr_legend_hidden' type='hidden' value='' name='create_cgfr_legend'>
          <label for="cgfr_legend">Show Corporate Governance Flag Report Legend?</label><br>
        </div>  

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="stat" name="create_stat" value="False">
          <input id='stat_hidden' type='hidden' value='' name='create_stat'>
          <label for="stat">Create Statistical Analysis?</label><br>
        </div>       
        
        <div class="form-group" style="margin-top:-20px;">
          <input type="number" id="column_width" name="create_column_width" value=35, min=0, max=100>
          <label for="column_width">Modify Question Column Width (default = 35)?</label><br>
        </div>          



          <button name='submit_button' value='bea' class="btn btn-primary" type = "submit">Run BEA</button>
       </form>
    </div>
 
    <div class="container tabcontent" style="margin-left:16px;margin-top:16px" id="comparative">
      <form action = "" method = "POST" enctype = "multipart/form-data">
       <div class="form-group">
         <h4>Upload Reference Year (most recent)</h4>
         <input type = "file" name = "comparative" />
       </div>
       <div class="form-group">
        <h4>Upload Compared Year</h4>
        <input type = "file" name = "compared" />
      </div>

       <div class="form-group" style="margin-top:-14px;">
         <input type="checkbox" id="randomize" name="randomize_bea" value="True">
         <input id='randomize_hidden' type='hidden' value='' name='randomize_bea'>
         <label for="randomize">Randomize BEA Report?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="heatmap" name="create_heatmap" value="False">
        <input id='heatmap_hidden' type='hidden' value='' name='create_heatmap'>
        <label for="heatmap">Create Heat Map?</label><br>
      </div>

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="cgpg" name="create_cgpg" value="False">
         <input id='cgpg_hidden' type='hidden' value='' name='create_cgpg'>
         <label for="cgpg">Create Corporate Governance Priority Graph?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="web" name="create_web" value="False">
         <input id='web_hidden' type='hidden' value='' name='create_web'>
         <label for="web">Create Relationship Web Page?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="hilo" name="create_hilo" value="False">
        <input id='hilo_hidden' type='hidden' value='' name='create_hilo'>
        <label for="hilo">Create Hi-Lo Page?</label><br>
      </div>               

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="swot" name="create_swot" value="False">
         <input id='swot_hidden' type='hidden' value='' name='create_swot'>
         <label for="swot">Create SWOT Page?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="high_act_pts" name="create_high_act_pts" value="False">
         <input id='high_act_pts_hidden' type='hidden' value='' name='create_high_act_pts'>
         <label for="high_act_pts">Create Highlights and Action Points Page?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="cgfr" name="create_cgfr" value="False">
         <input id='cgfr_hidden' type='hidden' value='' name='create_cgfr'>
         <label for="cgfr">Show Corporate Governance Flag Report Methodology?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="cgfr_legend" name="create_cgfr_legend" value="False">
         <input id='cgfr_legend_hidden' type='hidden' value='' name='create_cgfr_legend'>
         <label for="cgfr_legend">Show Corporate Governance Flag Report Legend?</label><br>
       </div>  

       <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="stat" name="create_stat" value="False">
        <input id='stat_hidden' type='hidden' value='' name='create_stat'>
        <label for="stat">Create Statistical Analysis?</label><br>
      </div>        
       
       <div class="form-group" style="margin-top:-20px;">
         <input type="number" id="column_width" name="create_column_width" value=35, min=0, max=100>
         <label for="column_width">Modify Question Column Width (default = 35)?</label><br>
       </div>          



         <button name='submit_button' value='comparative_bea' class="btn btn-primary" type = "submit">Run Comparative BEA</button>
      </form>
   </div>
   
 </div>
 {% endblock %}