{% extends "public/templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class='container'>
  <div class='row'>
    <div class="col">
      <h1 style="margin-top: 40px;">Welcome to the EnGauge Reporting Application</h1>
      <hr>
    </div>
  </div>
</div>
{% endblock%}
