{% extends "public/templates/public_template.html" %}
{% block title %}Nasdaq - Peer{% endblock %}


{% block main %}
<div class="container" >
    <h1 style="font-size:26pt;margin-top: 20px;">Peer Report Generator</h1>
    <hr>
 
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'showcase')">Peer Report</button>
      <button class="tablinks" onclick="openCity(event, 'comparative')">Comparative Peer Report</button>
      <button class="tablinks" onclick="openCity(event, 'peerskills')">Peer Skills</button>
    </div>
 
    <div class="container tabcontent" style="margin-left:16px;margin-top:16px" id="showcase">
       <form action = "" method = "POST" enctype = "multipart/form-data">
          <div class="form-group">
            <h4>Upload CSV Export</h4>
            <input type = "file" name = "peer_export" />
          </div>
          
          <h4>Peer Composite Options</h4><hr />
          <div class="form-group" style="margin-top:-14px;">
          <input type="checkbox" id="randomize" name="randomize_peer" value="True">
          <input id='randomize_hidden' type='hidden' value='' name='randomize_peer'>
          <label for="randomize">Randomize Peer Report?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="heatmap" name="create_heatmap" value="False">
          <input id='heatmap_hidden' type='hidden' value='' name='create_heatmap'>
          <label for="heatmap">Create Heat Map Page?</label><br>
        </div>        
        
        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="section_analysis" name="create_section_analysis" value="False">
          <input id='section_analysis_hidden' type='hidden' value='' name='create_section_analysis'>
          <label for="section_analysis">Create Peer and Self-Evaluation Comparison Graph?</label><br>
        </div>           
        
        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="esgima_bar_chart" name="create_esgima_bar_chart" value="False">
          <input id='esgima_bar_chart_hidden' type='hidden' value='' name='create_esgima_bar_chart'>
          <label for="esgima_bar_chart">Create eSigma Bar Chart?</label><br>
        </div>  

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="hilo" name="create_hilo" value="False">
          <input id='hilo_hidden' type='hidden' value='' name='create_hilo'>
          <label for="hilo">Create Hi-Lo Page?</label><br>
        </div>             

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="cgfr" name="create_cgfr" value="False">
          <input id='cgfr_hidden' type='hidden' value='' name='create_cgfr'>
          <label for="cgfr">Create Director Peer and Self-Evaluation Report?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="stat" name="create_stat" value="False">
          <input id='stat_hidden' type='hidden' value='' name='create_stat'>
          <label for="stat">Create Statistical Analysis?</label><br>
        </div>       
        
        <div class="form-group" style="margin-top:-20px;">
          <input type="number" id="column_width" name="create_column_width" value=35, min=0, max=100>
          <label for="column_width">Modify Composite Question Column Width (default = 35)?</label><br>
        </div>       


      <h4>Peer Individuals Options</h4><hr />
      <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="ind_heatmap" name="ind_create_heatmap" value="False">
        <input id='ind_heatmap_hidden' type='hidden' value='' name='ind_create_heatmap'>
        <label for="ind_heatmap">Create Heat Map Page?</label><br>
      </div>        
      
      <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="ind_section_analysis" name="ind_create_section_analysis" value="False">
        <input id='ind_section_analysis_hidden' type='hidden' value='' name='ind_create_section_analysis'>
        <label for="ind_section_analysis">Create Peer and Self-Evaluation Comparison Graph?</label><br>
      </div>           

      <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="ind_hilo" name="ind_create_hilo" value="False">
        <input id='ind_hilo_hidden' type='hidden' value='' name='ind_create_hilo'>
        <label for="ind_hilo">Create Hi-Lo Page?</label><br>
      </div>             

        <div class="form-group" style="margin-top:-20px;">
          <input type="checkbox" id="ind_cgfr" name="ind_create_cgfr" value="False">
          <input id='ind_cgfr_hidden' type='hidden' value='' name='ind_create_cgfr'>
          <label for="ind_cgfr">Create Director Peer and Self-Evaluation Report?</label><br>
        </div>

        <div class="form-group" style="margin-top:-20px;">
        <input type="checkbox" id="ind_stat" name="ind_create_stat" value="False">
        <input id='ind_stat_hidden' type='hidden' value='' name='ind_create_stat'>
        <label for="ind_stat">Create Statistical Analysis?</label><br>
      </div>       
        
        <div class="form-group" style="margin-top:-20px;">
          <input type="number" id="ind_column_width" name="ind_create_column_width" value=35, min=0, max=100>
          <label for="ind_column_width">Modify Individuals Question Column Width (default = 35)?</label><br>
        </div>              

        <br>
        <button name='submit_button' value='peer' class="btn btn-primary" type = "submit">Run Peer</button>
      </form>
  </div>
 

   
  <div class="container tabcontent" style="margin-left:16px;margin-top:16px" id="comparative">
      <form action = "" method = "POST" enctype = "multipart/form-data">

       <div class="form-group">
         <h4>Upload Reference Year</h4>
         <input type = "file" name = "comparative" />
       </div>

       <div class="form-group">
        <h4>Upload Compared Year</h4>
        <input type = "file" name = "compared" />
      </div>

        
      <h4>Peer Composite Options</h4><hr />
      <div class="form-group" style="margin-top:-14px;">
       <input type="checkbox" id="randomize" name="randomize_peer" value="True">
       <input id='randomize_hidden' type='hidden' value='' name='randomize_peer'>
       <label for="randomize">Randomize Peer Report?</label><br>
     </div>

     <div class="form-group" style="margin-top:-20px;">
      <input type="checkbox" id="heatmap" name="create_heatmap" value="False">
      <input id='heatmap_hidden' type='hidden' value='' name='create_heatmap'>
      <label for="heatmap">Create Heat Map Page?</label><br>
    </div>        
    
    <div class="form-group" style="margin-top:-20px;">
      <input type="checkbox" id="section_analysis" name="create_section_analysis" value="False">
      <input id='section_analysis_hidden' type='hidden' value='' name='create_section_analysis'>
      <label for="section_analysis">Create Peer and Self-Evaluation Comparison Graph?</label><br>
    </div>           
    
    <div class="form-group" style="margin-top:-20px;">
      <input type="checkbox" id="esgima_bar_chart" name="create_esgima_bar_chart" value="False">
      <input id='esgima_bar_chart_hidden' type='hidden' value='' name='create_esgima_bar_chart'>
      <label for="esgima_bar_chart">Create eSigma Bar Chart?</label><br>
    </div>  

    <div class="form-group" style="margin-top:-20px;">
      <input type="checkbox" id="hilo" name="create_hilo" value="False">
      <input id='hilo_hidden' type='hidden' value='' name='create_hilo'>
      <label for="hilo">Create Hi-Lo Page?</label><br>
    </div>             

     <div class="form-group" style="margin-top:-20px;">
       <input type="checkbox" id="cgfr" name="create_cgfr" value="False">
       <input id='cgfr_hidden' type='hidden' value='' name='create_cgfr'>
       <label for="cgfr">Create Director Peer and Self-Evaluation Report?</label><br>
     </div>

     <div class="form-group" style="margin-top:-20px;">
      <input type="checkbox" id="stat" name="create_stat" value="False">
      <input id='stat_hidden' type='hidden' value='' name='create_stat'>
      <label for="stat">Create Statistical Analysis?</label><br>
    </div>       
     
     <div class="form-group" style="margin-top:-20px;">
       <input type="number" id="column_width" name="create_column_width" value=35, min=0, max=100>
       <label for="column_width">Modify Composite Question Column Width (default = 35)?</label><br>
     </div>       


     <h4>Peer Individuals Options</h4><hr />
     <div class="form-group" style="margin-top:-20px;">
       <input type="checkbox" id="ind_heatmap" name="ind_create_heatmap" value="False">
       <input id='ind_heatmap_hidden' type='hidden' value='' name='ind_create_heatmap'>
       <label for="ind_heatmap">Create Heat Map Page?</label><br>
     </div>        
     
     <div class="form-group" style="margin-top:-20px;">
       <input type="checkbox" id="ind_section_analysis" name="ind_create_section_analysis" value="False">
       <input id='ind_section_analysis_hidden' type='hidden' value='' name='ind_create_section_analysis'>
       <label for="ind_section_analysis">Create Peer and Self-Evaluation Comparison Graph?</label><br>
     </div>           

     <div class="form-group" style="margin-top:-20px;">
       <input type="checkbox" id="ind_hilo" name="ind_create_hilo" value="False">
       <input id='ind_hilo_hidden' type='hidden' value='' name='ind_create_hilo'>
       <label for="ind_hilo">Create Hi-Lo Page?</label><br>
     </div>             

       <div class="form-group" style="margin-top:-20px;">
         <input type="checkbox" id="ind_cgfr" name="ind_create_cgfr" value="False">
         <input id='ind_cgfr_hidden' type='hidden' value='' name='ind_create_cgfr'>
         <label for="ind_cgfr">Director Peer and Self-Evaluation Report?</label><br>
       </div>

       <div class="form-group" style="margin-top:-20px;">
       <input type="checkbox" id="ind_stat" name="ind_create_stat" value="False">
       <input id='ind_stat_hidden' type='hidden' value='' name='ind_create_stat'>
       <label for="ind_stat">Create Statistical Analysis?</label><br>
     </div>       
       
       <div class="form-group" style="margin-top:-20px;">
         <input type="number" id="ind_column_width" name="ind_create_column_width" value=35, min=0, max=100>
         <label for="ind_column_width">Modify Individuals Question Column Width (default = 35)?</label><br>
       </div> 

    <button name='submit_button' value='comparative_peer' class="btn btn-primary" type = "submit">Run Comparative Peer</button>
  </form>
  </div>       

  <div class="container tabcontent" style="margin-left:16px;margin-top:16px" id="peerskills">
    <form action = "" method = "POST" enctype = "multipart/form-data">

      <div class="form-group">
        <h4>Upload Peer Skills</h4>
        <input type = "file" name = "peerskills" />
      </div>
      <button name='submit_button' value='peerskills' class="btn btn-primary" type = "submit">Run Peer Skills</button>
    </form> 
  </div>       

 </div>
 {% endblock %}