{% extends 'public/templates/public_template.html' %}

{% block title %}Upload Image{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class="col">
            <h1>Upload Image</h1>
            <hr>
            
            <form action='/upload-image' method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select image</label>
                    <div class="custom-file">
                      <input oninput="filesize(this);" type="file" class="custom-file-input" name="image" id="image">
                      <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                  </div>
          
                  <button type="submit" class="btn btn-primary">Upload Image</button>                
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    function filesize(elem){
        document.cookie = `filesize=${elem.files[0].size}`;
    }

</script>
{% endblock %}