<HTML>
<HEAD>
  <TITLE>{{ title }}</TITLE>
  <link rel="stylesheet" type="text/css" href="{{ style_url }}">
  <style>
    html {height:100%;}
    body {font-family: Garamond;}

    html body div#statistical_analysis table#section_average_analysis tr td:last-child {
      border-right: 1px solid #c4590f;
    }

    html body div#statistical_analysis table#section_average_analysis tr:last-child {
      border-bottom: 1px solid #c4590f;
    }
    html body div#statistical_analysis table#section_average_analysis tr td:first-child {
      border-left: 1px solid #c4590f;
    }
    html body div#statistical_analysis table th {
      background-color:#c4590f;
      color: white;
    }

    html body div#statistical_analysis table tr:nth-child(even) {
      background-color:#fbe4d5
    }

    html body div#statistical_analysis table#assessment_statistics tr td:last-child {
      border-right: 1px solid #c4590f;
    }

    html body div#statistical_analysis table#assessment_statistics tr:last-child {
      border-bottom: 1px solid #c4590f;
    }
    html body div#statistical_analysis table#assessment_statistics tr td:first-child {
      border-left: 1px solid #c4590f;
    }

  </style>
</HEAD>
<BODY>
<div id='report_body'>
  <div id='title_page' class="border_thick">
      <img src="{{ nasdaq_logo }}" alt="Nasdaq logo goes here" id="nasdaq_logo"/>
      <p style="font-size:28px;text-align: center;margin-top:60px;">Director Peer and Self-Evaluation Report</p>
      <p style="font-size:20px;text-align: center;margin-top:80px;">Prepared for</p>
      <p style="text-align: center;margin-top:420px;">Report Date: {{ formatted_date }}</p>
  </div>

  <div>
    <article id='contents'>
    <h1>Table of Contents</h1>
      <ul>
        <li>Evaluation Overview<span style="float:right;">2</span></li>
        {% for item in table_of_contents_titles %}
          <li><a href="{{ item }}"></a></li>
        {% endfor %}
      </ul>
    </article>

    <article id='assessment_overview'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Overview</p>
      <p style="margin-top:-10px;text-align: justify;text-justify: inter-word;">
        The Board of Directors of {{ client_name }} completed a director evaluation.
        All responses and
        comments presented throughout this report in all graphics and reporting
        features are anonymized and randomized to promote candid feedback and
        adhere to best practices in corporate governance. This report includes
        comparative data from the prior evaluation; the year of the evaluation
        is indicated above each graphic or report section. The goal of this
        report is to provide a greater understanding of each director’s performance
        and contributions, highlight areas of strength and areas for improvement,
        and improve each director’s overall performance and effectiveness.
      </p>
    </article>

    <article id='report_sections'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Evaluation Sections</p>
      <table>
      {% for label, section_name in section_names_and_labels.items() %}
      <tr>
        <td style="width:36px;">{{ label }}</td>
        <td>{{ section_name }}</td>
      </tr>
      {% endfor %}
    </table>
    </article>

    <div>
      <p style="font-size:16px;margin-top:30px;"><i>Sample evaluation question with rating scale for reference:</i></p>
      <table id="scale_table">
        <tr style="margin-left:10px;margin-top:2px;">
          <td style="width:66px;text-align: center;vertical-align: top;">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>{{ questions_df[questions_df['type'].isin(['matrix', 'likert', 'long_form'])]['question'].iloc[0] }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <img style="margin-left:60px;" src="{{ scale_image }}" alt="Scale Image goes here" id="scale_image"/>
          </td>
        </tr>
      </table>
    </div>
    <p style="page-break-after: always;">&nbsp;</p>
  </div>

  {% if heat_map_section_bool == True %}
    <div id='heat_map_section'>
      <h1 style="font-weight:normal;font-size:14pt;text-align:center;">Director Peer and Self-Evaluation</h1>
      <h2 id='heat_map_title' style="font-weight:normal;font-size:14pt;">Corporate Governance Heat Map<span style="font-size:12pt;"><sup>&#8480;</sup></span></h2>

      {% if anonymized %}
        {% if na_in_heat_map == True %}
          <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graphs below display the directors’
            responses to the rated questions. Areas of green represent confidence, yellow represents caution,
            red represents concern, and white represents &#8220;N/A.&#8221; The question numbers are listed in the second row,
            the question averages are in second-to-bottom row, and section averages are in the bottom row. Each
            numbered row represents the ratings each director received. The responses have been randomized to maintain anonymity. </p>
        {% endif %}
        {% if na_in_heat_map == False %}
          <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graphs below display the directors’
            responses to the rated questions. Areas of green represent confidence, yellow represents caution, and red represents concern.
            The question numbers are listed in the second row, the question averages are in second-to-bottom row, and section averages are
            in the bottom row. Each numbered row represents the ratings each director received. The responses have been randomized to maintain anonymity. </p>
        {% endif %}
      {% else %}
        {% if na_in_heat_map == True %}
          <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graphs below display the directors’
            responses to the rated questions. Areas of green represent confidence, yellow represents caution,
            red represents concern, and white represents &#8220;N/A.&#8221; The question numbers are listed in the second row,
            the question averages are in second-to-bottom row, and section averages are in the bottom row. Each
            named row represents the ratings each director received. The responses have been randomized to maintain anonymity. </p>
        {% endif %}
        {% if na_in_heat_map == False %}
          <p style="font-size:16px;text-align: justify;text-justify: inter-word;">The graphs below display the directors’
            responses to the rated questions. Areas of green represent confidence, yellow represents caution, and red represents concern.
            The question numbers are listed in the second row, the question averages are in second-to-bottom row, and section averages are
            in the bottom row. Each named row represents the ratings each director received. The responses have been randomized to maintain anonymity. </p>
        {% endif %}
      {% endif %}
      <p style="font-weight:bold;">{{ comparative_year_number }} e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> = {{ eSigma_value }}</p>
      <div style="">
        {% if comparative_extra_large_hm %}
          <div style="width:650px;height:250px;"></div>
        {% endif %}
        {% if not comparative_extra_large_hm %}
        <table style="table-layout: fixed;border-collapse: collapse;font-size:70%;margin-left:auto;margin-right: auto;max-width:670px;">
          <tr>
            <th style="max-width:120px;min-width:20px;"></th>
            {% for _, number in comparative_hm_numbers_borders.items() %}
            <th style="width:{{ comparative_percentage_size }}px;"></th>
            {% endfor %}
          </tr>

          <tr>
            <td style=""></td>
            {% for k, v in comparative_hm_section_length_counts.items() %}
            <td style="text-align:center;background-color:#BE6E28;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;" colspan="{{ v }}">
              {{ k }}
            </td>
            {% endfor %}
          </tr>

          <tr>
            <td></td>
            {% for k, v in comparative_section_number_merge_ranges.items() %}
              {% if v[1] == 'left' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'right' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'None' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
            {% endfor %}
          </tr>

          {% for row in comparative_hm_rows_directions %}
            {% if five_point_scale == False %}
            <tr>
              <td style="font-weight:bold;font-size:{{ hm_cell_height }}pt;">{{ (row.keys()|list)[0] }}</td>
              {% for item, zipped_object in row.items() %}
                {% for num, direction in zipped_object %}
                  {% if ( (num == 10) or (num == 9) or (num == 8) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if ( (num == 7) or (num == 6) or (num == 5) or (num == 4)) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style=";background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if ( (num == 3) or (num == 2) or (num == 1) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if num == 0 %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tr>
            {% endif %}

            {% if five_point_scale == True %}
            <tr>
              <td style="font-weight:bold;">{{ (row.keys()|list)[0] }}</td>

              {% for item, zipped_object in row.items() %}
                {% for num, direction in zipped_object %}
                  {% if ( (num == 5) or (num == 4) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if (num == 3) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style=";background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if ( (num == 2) or (num == 1) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if num == 0 %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                {% endfor %}
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}

          <tr>
            <td></td>
            {% for k, v in comparative_section_number_averages.items() %}
              {% if v[1] == 'left' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;border-left:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'right' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;border-right:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'None' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            {% for k, v in comparative_heat_map_averages.items() %}
              <td style="background-color:#BE6E28;text-align:center;font-weight:bold;border:2px solid black;font-size:{{ header_font_size }}pt;" colspan="{{ v[0] }}">{{ v[1] }}</td>
            {% endfor %}
          </tr>
        </table>
        {% endif %}
      </div>

      <p style="font-weight:bold;">{{ compared_year_number }} e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> = {{ b_esigma }}</p>
      <div style="">
        {% if compared_extra_large_hm %}
          <div style="width:650px;height:250px;"></div>
        {% endif %}
        {% if not compared_extra_large_hm %}
          <table style="table-layout: fixed;border-collapse: collapse;font-size:70%;margin-left:auto;margin-right: auto;max-width:670px;">
          <tr>
            <th style="max-width:120px;min-width:20px;"></th>
            {% for _, number in compared_hm_numbers_borders.items() %}
            <th style="width:{{ compared_percentage_size }}px;"></th>
            {% endfor %}
          </tr>

          <tr>
            <td style=""></td>
            {% for k, v in compared_hm_section_length_counts.items() %}
            <td style="text-align:center;background-color:#BE6E28;border-left:2px solid black;border-right:2px solid black;border-top:2px solid black;font-size:{{ header_font_size }}pt;font-weight:bold;" colspan="{{ v }}">
              {{ k }}
            </td>
            {% endfor %}
          </tr>

          <tr>
            <td></td>
            {% for k, v in compared_section_number_merge_ranges.items() %}
              {% if v[1] == 'left' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'right' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'None' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
            {% endfor %}
          </tr>

          {% for row in compared_hm_rows_directions %}
            {% if five_point_scale == False %}
            <tr>
              <td style="font-weight:bold;font-size:{{ hm_cell_height }}pt;">{{ (row.keys()|list)[0] }}</td>
              {% for item, zipped_object in row.items() %}
                {% for num, direction in zipped_object %}
                  {% if ( (num == 10) or (num == 9) or (num == 8) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if ( (num == 7) or (num == 6) or (num == 5) or (num == 4)) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style=";background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if ( (num == 3) or (num == 2) or (num == 1) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if num == 0 %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tr>
            {% endif %}

            {% if five_point_scale == True %}
            <tr>
              <td style="font-weight:bold;">{{ (row.keys()|list)[0] }}</td>

              {% for item, zipped_object in row.items() %}
                {% for num, direction in zipped_object %}
                  {% if ( (num == 5) or (num == 4) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #008000;color:#008000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if (num == 3) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style=";background-color: #FFFF00;color:#FFFF00;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if ( (num == 2) or (num == 1) ) %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FF0000;color:#FF0000;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                  {% if num == 0 %}
                    {% if direction == 'left' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-left:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'right' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;border-right:2px solid black;"></td>
                    {% endif %}
                    {% if direction == 'None' %}
                      <td style="background-color: #FFFFFF;color:#FFFFFF;text-align:center;border:1px solid black;"></td>
                    {% endif %}
                  {% endif %}

                {% endfor %}
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}

          <tr>
            <td></td>
            {% for k, v in compared_section_number_averages.items() %}
              {% if v[1] == 'left' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;border-left:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'right' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;border-right:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
              {% if v[1] == 'None' %}
                <td colspan="{{ v[2] }}" style="text-align:center;border:2px solid black;font-size:{{ number_font_size }}pt;font-weight:bold;">{{ v[0] }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            {% for k, v in compared_heat_map_averages.items() %}
              <td style="background-color:#BE6E28;text-align:center;font-weight:bold;border:2px solid black;font-size:{{ header_font_size }}pt;" colspan="{{ v[0] }}">{{ v[1] }}</td>
            {% endfor %}
          </tr>
        </table>
        {% endif %}
      </div>

      <div style="width:440px;text-align:center;margin: 0 auto;">
        {% if five_point_scale == False %}
          <p style="text-align: center;font-size:9pt;">Scale is 1.00 to 10.00</p>
        {% endif %}
        {% if five_point_scale == True %}
          <p style="text-align: center;font-size:9pt;">Scale is 1.00 to 5.00</p>
        {% endif %}

        {% if na_in_heat_map == True %}
          {% if ( five_point_scale == False ) %}
            <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;"><p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span>, <span>N/A = white</span></p>
            </div>
          {% endif %}
          {% if ( five_point_scale == True ) %}
            <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;"><p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 2 ratings = <span style="color:red;font-weight:bold;">red</span>, 3 rating = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 4 - 5 ratings = <span style="color:green;font-weight:bold;">green</span>, <span>N/A = white</span></p>
            </div>
          {% endif %}
        {% endif %}

        {% if na_in_heat_map == False %}
          {% if ( five_point_scale == False ) %}
            <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
              <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span></p>
            </div>
          {% endif %}
          {% if ( five_point_scale == True ) %}
            <div style="width:440px;text-align:center;margin: 0 auto;margin-top:-8px;">
              <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 2 ratings = <span style="color:red;font-weight:bold;">red</span>, 3 rating = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 4 - 5 ratings = <span style="color:green;font-weight:bold;">green</span></p>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <article>
        <p style="font-size:10pt;text-align: justify;text-justify: inter-word;"><span style="font-weight:bold;">e&#x03A3;igma<span><sup style="font-size:8pt;">&#8480;</sup></span></span>
        is a Nasdaq metric that averages the total statistical score and provides a year over year comparative measurement of performance. </p>
      </article>

    </div>
  {% endif %}

  {% if section_analysis_bool == True %}
    <div id='section_analysis' style="padding-top:-90px;">
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='section_analysis_title'>Peer and Self-Evaluation Comparison Graph<span style="font-size:12pt;"><sup>&#8480;</sup></span></h1>
      <p style="text-align: justify;text-justify: inter-word;">The graphs below contrast the average ratings for directors in each section, highlighting variance of director performance.</p>

      <p style="font-weight:bold;">{{ comparative_year_number }}
      <img src='{{ section_avg_bar_chart }}' style="max-height:320px;width:670px;margin-top:16px;display:block;margin-left:auto;margin-right:auto;margin-left:-6px;" />

      <p style="font-weight:bold;margin-top:22px;">{{ compared_year_number }}
      <img src='{{ compared_section_avg_bar_chart }}' style="max-height:320px;width:670px;margin-top:16px;display:block;margin-left:auto;margin-right:auto;margin-left:-6px;" />
    </div>
  {% endif %}

  {% if esigma_bar_chart_bool == True %}
    <div id='eSigma_bar_chart' style="margin-top:20px;">
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='eSigma_title_bar_chart'>Analysis by Director</h1>
      <p style="text-align: justify;text-justify: inter-word;">This section
        compares the performance of each director, showing their average
        ratings relative to their peers individually and as a group.</p>

      <p style="font-weight:bold;">{{ comparative_year_number }}</p>
      <img src='{{ esigma_bar_chart }}' style="max-height:320px;width:670px;margin-top:16px;display:block;margin-left:auto;margin-right:auto;margin-left:-6px;" />

      <p style="font-weight:bold;margin-top:22px;">{{ compared_year_number }}</p>
      <img src='{{ compared_esigma_bar_chart }}' style="max-height:320px;width:670px;margin-top:16px;display:block;margin-left:auto;margin-right:auto;margin-left:-6px;" />
    </div>
  {% endif %}

  {% if hilo_section_bool %}
    <div id='hilo'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='hilo_title'>Highest and Lowest Rated Questions</h1>
      <p style="text-align: justify;text-justify: inter-word;">
        This table highlights the questions that received the highest and lowest
         average ratings. Note: If more than one question received the same average
          rating, then each question with that rating is listed up to a maximum of five questions.
      </p>

      {% if number_of_sections > 1 %}
      <table id='hilo_table'>
        <th colspan="4" class='hi_header'>Highest Rated Questions</th>
        <tr>
          <td class="hi_header">Rating</td>
          <td class="hi_header">Section</td>
          <td class="hi_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_hi.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_cell' style="white-space: nowrap;text-align:center;">{{ row['section'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
        <th colspan="4" class='lo_header'>Lowest Rated Questions</th>
        <tr>
          <td class="lo_header">Rating</td>
          <td class="lo_header">Section</td>
          <td class="lo_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_lo.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_cell' style="white-space: nowrap;text-align:center;">{{ row['section'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      {% if number_of_sections == 1 %}
      <table id='hilo_table'>
        <th colspan="3" class='hi_header'>Highest Rated Questions</th>
        <tr>
          <td class="hi_header">Rating</td>
          <td class="hi_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_hi.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
        <th colspan="3" class='lo_header'>Lowest Rated Questions</th>
        <tr>
          <td class="lo_header">Rating</td>
          <td class="lo_header_left" colspan="2">Question</td>
        </tr>
        {% for _, row in jinja_lo.iterrows() %}
        <tr>
          <td class='hilo_rating'>{{ row['question_average'] }}</td>
          <td class='hilo_rating'>{{ row['formatted_number'] }}</td>
          <td class='hilo_cell'>{{ row['question'] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  {% endif %}

  {% if skills_matrix_present %}
    <div id='skills_matrix_section'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h2 id='skills_matrix_title' style="font-weight:normal;font-size:20px;margin-top:-12px;">Director Skills Matrix</h2>
      <p style="text-align: justify;text-justify: inter-word;">As part of the evaluation,
            directors rated their expertise in  areas relevant to the requirements of
            the role of a director on the Company’s board of directors. The Skills Matrix utilized a scale of
            1 to 10, with &#8220;limited knowledge&#8221; scored as a 1 and &#8220;high expertise&#8221; scored as a 10.
      </p>
          <p style="text-align: justify;text-justify: inter-word;">The gradient color visualization highlights directors’ areas of strengths and those with limited knowledge.</p>

      <div>
        {% if also_b_has_a_skills_matrix %}
          <p style="font-weight:bold;">{{ comparative_year_number }}
        {% endif %}
        <table style="border:1px solid black;table-layout: fixed;border-spacing:0;border-collapse: collapse;font-size:80%;margin-left:auto;margin-right: auto;">
          <tr>
            <th style="min-width:250px;border-right:1px solid black;"></th>
            {% for col in skills_matrix_df_width %}
              {% if col==1 %}
                <th style="width:40px;border-right:1px solid black;"></th>
              {% else %}
                <th style="width:40px;"></th>
              {% endif %}
            {% endfor %}
          </tr>
          <tr>
            <td style="text-align:center;border-right:1px solid black;"></td>
            <td style="font-weight:bold;text-align:center;border-right:1px solid black;">Board</td>
            <td style="font-weight: bold;text-align:center;" colspan="{{ (skills_matrix_df|length)-1 }}">Director Self-Ratings</td>
          </tr>
          <tr>
            <td style="font-weight: bold;border-right:1px solid black;border-bottom:1px solid black;">Skill Areas</td>
            <td style="font-weight: bold;border-right:1px solid black;border-bottom:1px solid black;">Average</td>
            {% for initial in (skills_matrix_df.loc['initials']|list)[1:] %}
            <td style="font-weight: bold;text-align:center;border-bottom:1px solid black;">{{ initial }}</td>
            {% endfor %}
          </tr>
          {% for _, row in skills_matrix_df.iloc[1:-1].iterrows() %}
              <tr>
                <td style="border-right:1px solid black;font-weight:normal;">{{ _ }}</td>

                {% if (row[0]|float == 10.0) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#63be7b;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 10.0) and (row[0]|float >= 9.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#86c97e;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 9.0) and (row[0]|float >= 8.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#a9d27f;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 8.0) and (row[0]|float >= 7.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#ccdd82;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 7.0) and (row[0]|float >= 6.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#eee683;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 6.0) and (row[0]|float >= 5.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#fedd81;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 5.0) and (row[0]|float >= 4.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#fcbf7b;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 4.0) and (row[0]|float >= 3.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#fba276;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 3.0) and (row[0]|float >= 2.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#f98570;">{{ row[0] }}</td>
                {% endif %}
                {% if (row[0]|float < 2.0) and (row[0]|float >= 1.00) %}
                <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#f8696b;">{{ row[0] }}</td>
                {% endif %}


                {% for item in row[1:] %}

                  {% if (item|float == 10.0) %}
                  <td style="text-align:center;font-weight:normal;background-color:#63be7b;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 10.0) and (item|float >= 9.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#86c97e;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 9.0) and (item|float >= 8.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#a9d27f;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 8.0) and (item|float >= 7.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#ccdd82;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 7.0) and (item|float >= 6.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#eee683;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 6.0) and (item|float >= 5.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#fedd81;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 5.0) and (item|float >= 4.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#fcbf7b;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 4.0) and (item|float >= 3.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#fba276;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 3.0) and (item|float >= 2.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#f98570;">{{ item|int }}</td>
                  {% endif %}
                  {% if (item|float < 2.0) and (item|float >= 1.00) %}
                  <td style="text-align:center;font-weight:normal;background-color:#f8696b;">{{ item|int }}</td>
                  {% endif %}

                {% endfor %}
              </tr>
          {% endfor %}
          <tr>
            <td style="font-weight:bold;text-align:right;border-top:1px solid black;">Overall Average:</td>
            {% for item in skills_matrix_df.iloc[-1] %}
            <td style="font-weight:bold;text-align:center;border-top:1px solid black;">{{ item }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td colspan="{{ (skills_matrix_df|length)-1 }}" style="font-weight:bold;text-align:center;">Total Expertise Average by Director</td>
          </tr>
        </table>
      </div>

      {% if also_b_has_a_skills_matrix %}
        <div>
        <p style="font-weight:bold;">{{ compared_year_number }}</p>
          <table style="margin-top: -16px;border:1px solid black;table-layout: fixed;border-spacing:0;border-collapse: collapse;font-size:80%;margin-left:auto;margin-right: auto;">
            <tr>
              <th style="min-width:250px;border-right:1px solid black;"></th>
              {% for col in b_skills_matrix_df_width %}
                {% if col==1 %}
                  <th style="width:40px;border-right:1px solid black;"></th>
                {% else %}
                  <th style="width:40px;"></th>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <td style="text-align:center;border-right:1px solid black;"></td>
              <td style="font-weight:bold;text-align:center;border-right:1px solid black;">Board</td>
              <td style="font-weight: bold;text-align:center;" colspan="{{ (b_skills_matrix_df|length)-1 }}">Director Self-Ratings</td>
            </tr>
            <tr>
              <td style="font-weight: bold;border-right:1px solid black;border-bottom:1px solid black;">Skill Areas</td>
              <td style="font-weight: bold;border-right:1px solid black;border-bottom:1px solid black;">Average</td>
              {% for initial in (b_skills_matrix_df.loc['initials']|list)[1:] %}
              <td style="font-weight: bold;text-align:center;border-bottom:1px solid black;">{{ initial }}</td>
              {% endfor %}
            </tr>
            {% for _, row in b_skills_matrix_df.iloc[1:-1].iterrows() %}
                <tr>
                  <td style="border-right:1px solid black;font-weight:normal;">{{ _ }}</td>

                  {% if (row[0]|float == 10.0) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#63be7b;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 10.0) and (row[0]|float >= 9.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#86c97e;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 9.0) and (row[0]|float >= 8.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#a9d27f;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 8.0) and (row[0]|float >= 7.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#ccdd82;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 7.0) and (row[0]|float >= 6.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#eee683;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 6.0) and (row[0]|float >= 5.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#fedd81;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 5.0) and (row[0]|float >= 4.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#fcbf7b;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 4.0) and (row[0]|float >= 3.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#fba276;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 3.0) and (row[0]|float >= 2.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#f98570;">{{ row[0] }}</td>
                  {% endif %}
                  {% if (row[0]|float < 2.0) and (row[0]|float >= 1.00) %}
                  <td style="text-align:center;font-weight:normal;border-right:1px solid black;background-color:#f8696b;">{{ row[0] }}</td>
                  {% endif %}


                  {% for item in row[1:] %}

                    {% if (item|float == 10.0) %}
                    <td style="text-align:center;font-weight:normal;background-color:#63be7b;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 10.0) and (item|float >= 9.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#86c97e;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 9.0) and (item|float >= 8.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#a9d27f;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 8.0) and (item|float >= 7.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#ccdd82;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 7.0) and (item|float >= 6.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#eee683;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 6.0) and (item|float >= 5.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#fedd81;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 5.0) and (item|float >= 4.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#fcbf7b;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 4.0) and (item|float >= 3.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#fba276;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 3.0) and (item|float >= 2.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#f98570;">{{ item|int }}</td>
                    {% endif %}
                    {% if (item|float < 2.0) and (item|float >= 1.00) %}
                    <td style="text-align:center;font-weight:normal;background-color:#f8696b;">{{ item|int }}</td>
                    {% endif %}

                  {% endfor %}
                </tr>
            {% endfor %}
            <tr>
              <td style="font-weight:bold;text-align:right;border-top:1px solid black;">Overall Average:</td>
              {% for item in b_skills_matrix_df.iloc[-1] %}
              <td style="font-weight:bold;text-align:center;border-top:1px solid black;">{{ item }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td colspan="{{ (b_skills_matrix_df|length)-1 }}" style="font-weight:bold;text-align:center;">Total Expertise Average by Director</td>
            </tr>
          </table>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if peer_self_report_bool %}
    <p style="page-break-before: always;">&nbsp;</p>
    <div id='peer_and_self_report'>
      <h1 id='peer_and_self_report_title'>Director Peer and Self-Evaluation Report</h1>

      {% if no_self_ratings_bool %}
      <p style="text-align: justify;text-justify: inter-word;">This section assesses
        the data collected from all elements of the evaluation to form an integrated
        picture of the directors’ contributions and overall performance.
        Please note: The average for each question is the average of every director’s peer rating for each question.</p>
      {% else %}
        <p style="text-align: justify;text-justify: inter-word;">This section assesses
          the data collected from all elements of the evaluation to form an integrated
          picture of the directors’ contributions and overall performance.
          Please note: The average rating for each director includes the director’s self-rating plus the ratings from peer directors.</p>
      {% endif %}

      <article id='peer_self_sections'>
        {% for section in jinja_for_loop_dict.keys() %}
          <!-- sections are joined. section name and section data will appear on one apge -->
          {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
            <table class='flag_table' style="break-inside:avoid;margin-top:0px;padding-top:0px;">
          {% endif %}
          {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
            <table class='flag_table' style="break-inside:avoid;margin-top:20px;">
          {% endif %}
          <tr>
            <th style="width:20px;"></th>
            <th style="width:16px;"></th>
            <th style="width:{{ question_column_width }}%;"></th>
            <th colspan="{{ number_of_respondents }}"></th>
            <th style="width:60px;"></th>
            <th style="width:60px;"></th>
          </tr>

          <tr style="width:100%;">
            <td colspan="{{ number_of_respondents+number_of_comparisons+5 }}">
                <h2>{{ section }}</h2>
            </td>
          </tr>

          <tr style="margin-top:-4px;">
            <td colspan="{{ number_of_respondents+number_of_comparisons+5 }}">{{ compared_section_data[section] }}</td>
          </tr>

          {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique())) %}
            <tr style="margin-top:10px;">
              <td style="width:20px;"></td>
              <td style="width:16px;"></td>
              <td></td>
              <td colspan="{{ number_of_respondents }}" scope="colgroup" style="border-bottom: 1px solid black;text-align:center;vertical-align:bottom;font-weight:bold;">Individual Ratings</td>
              <td style="width:60px;text-align:center;border-bottom:1px solid black;border-left:1px solid black;vertical-align:bottom;font-weight:bold;">{{ comparative_year_number }} Average</td>
              <td style="width:60px;text-align:center;border-bottom:1px solid black;border-left:1px solid black;vertical-align:bottom;font-weight:bold;">{{ compared_year_number }} Average</td>
            </tr>
          {% endif %}

          <!-- first question grouped with headers and section name and data -->
          <tr>
            {% if (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'likert') %}
              <td class='rated_number' style="font-weight:bold;">{{ (jinja_for_loop_dict[section].keys()|list)[0] }}</td>
              <td class='rated_question' colspan="{{ number_of_respondents+2 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
              {% for avg in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question_averages'] %}
                <td class="rated_question_average" style="font-weight:bold;">{{ avg }}</td>
              {% endfor %}
            {% endif %}

            {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'long_form' %}
              <td class='rated_number' style="font-weight:bold;">{{ (jinja_for_loop_dict[section].keys()|list)[0] }}</td>
              <td class='long_form_question' colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
            {% endif %}

            {% if (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type']) == 'optional_long_form' %}
              <td class='rated_number' style="font-weight:bold;"></td>
              <td class='long_form_question' colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['question'] }}</td>
            {% endif %}
          </tr>

          {% if (jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'likert') %}
            {% for raw_q in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'] %}
              <tr>
                <td class='rated_number'></td>
                <td class='rated_sub_question' colspan="2">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['sub_section'] }}</td>
                {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['answers'] %}
                  {% if a == 'N/A' %}
                    <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                  {% endif %}
                  {% if a != 'N/A' %}
                    <td class='rated_answer'>{{ a }}</td>
                  {% endif %}
                {% endfor %}
                {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['averages'] %}
                  <td class="rated_average">{{ a }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          {% endif %}

          {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['type'] == 'long_form' %}
            {% for raw_q in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'] %}
              <tr class='long_form_row_question' colspan="{{ number_of_respondents+5 }}">
                <table class="inner_table" style="break-inside:avoid;" >
                  {% if jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['sub_section'] != 'None' %}
                    <tr style="width:100%;" colspan="{{ number_of_respondents+5 }}">
                      <td class="long_form_number" style="font-weight:bold;"></td>
                      <td class='long_form_sub_question' colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['sub_section'] }}</td>
                    </tr>
                  {% endif %}
                  <tr style="width:100%;" colspan="{{ number_of_respondents+5 }}">
                    <td class="long_form_number"></td>
                    <td colspan="{{ number_of_respondents+4 }}" style="padding-left:.49in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;">&#8220;{{ jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['answers'][0] }}&#8221;</td>
                  </tr>
                </table>
              </tr>

              {% for a in jinja_for_loop_dict[section][(jinja_for_loop_dict[section].keys()|list)[0]]['raw_questions'][raw_q]['answers'][1:] %}
                <tr class='long_form_row_question' colspan="{{ number_of_respondents+2 }}">
                  <table class="inner_table">
                    <tr style="width:100%;" colspan="{{ number_of_respondents+4 }}">
                      <td class="long_form_number"></td>
                      <td style="padding-left:.5in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">&#8220;{{ a }}&#8221;</td>
                    </tr>
                  </table>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endif %}

        {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
          </table>
        {% endif %}
        {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
          </table>
        {% endif %}

        <table class='flag_table' style="margin-top:-2px;">
          <tr>
            <th style="width:20px;"></th>
            <th style="width:16px;"></th>
            <th style="width:{{ question_column_width }}%;"></th>
            <th colspan="{{ number_of_respondents }}" scope="colgroup"></th>
            <th style="width:60px;"></th>
            <th style="width:60px;"></th>
          </tr>

          {% for number in (jinja_for_loop_dict[section].keys()|list)[1:] %}

            {% if ( (jinja_for_loop_dict[section][number]['type'] != 'optional_long_form') and (jinja_for_loop_dict[section][number]['type'] != 'long_form') ) %}
              <tr>
                <td class='rated_number' style="font-weight:bold;">{{ number }}</td>
                <td class='rated_question' colspan="{{ number_of_respondents+2 }}">{{ jinja_for_loop_dict[section][number]['question'] }}</td>
                {% for avg in jinja_for_loop_dict[section][number]['question_averages'] %}
                  <td class="rated_question_average" style="font-weight:bold;">{{ avg }}</td>
                {% endfor %}
              </tr>
            {% endif %}

            {% if (jinja_for_loop_dict[section][number]['type'] == 'optional_long_form') %}
              <tr>
                {% if (jinja_for_loop_dict[section][number]['type'] == 'optional_long_form') %}
                <td class='rated_number' style="font-weight:bold;"></td>
                {% endif %}
                <!-- {% if (jinja_for_loop_dict[section][number]['type'] == 'long_form') %}
                <td class='rated_number'>{{ number }}</td>
                {% endif %} -->
                <td class='rated_question' colspan="{{ number_of_respondents+2 }}"> {{ jinja_for_loop_dict[section][number]['question'] }}</td>
                <td class="rated_question_average"></td>
              </tr>
            {% endif %}



            {% for raw_q in jinja_for_loop_dict[section][number]['raw_questions'] %}



                {% if (jinja_for_loop_dict[section][number]['type'] == 'likert') %}
                  <tr>
                    <td class='rated_number'></td>
                    <td class='rated_sub_question' colspan="2">{{ jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['sub_section'] }}</td>
                    {% for a in jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['answers'] %}
                      {% if a == 'N/A' %}
                        <td class='rated_answer' style="font-size:12px;font-weight:bold;">{{ a }}</td>
                      {% endif %}
                      {% if a != 'N/A' %}
                        <td class='rated_answer'>{{ a }}</td>
                      {% endif %}
                    {% endfor %}

                    {% for a in jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['averages'] %}
                      <td class="rated_average">{{ a }}</td>
                    {% endfor %}
                  </tr>
                {% endif %}

                <!-- optional, long-form questions. No Number -->
                {% if jinja_for_loop_dict[section][number]['type'] == 'optional_long_form' %}
                  {% for a in jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['answers'] %}
                    <tr class='long_form_row_question'>
                        <td class="long_form_number"></td>
                        <td colspan="{{ number_of_respondents+4 }}" style="padding-left:.5in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;">&#8220;{{ a }}&#8221;</td>
                    </tr>
                  {% endfor %}
                {% endif %}

                {% if jinja_for_loop_dict[section][number]['type'] == 'long_form' %}
                  <tr class='long_form_row_question' colspan="{{ number_of_respondents+3 }}">
                    <td colspan="{{ number_of_respondents+5 }}">
                      <table class="inner_table" style="break-inside:avoid;">
                        {% if (jinja_for_loop_dict[section][number]['raw_questions'].keys()|list)[0] == raw_q %}
                        <tr>
                          <td class='rated_number' style="font-weight:bold;">{{ number }}</td>
                          <td class='rated_question' colspan="{{ number_of_respondents+4 }}"> {{ jinja_for_loop_dict[section][number]['question'] }}</td>
                          <!-- <td class="question_average"></td> -->
                        </tr>
                        {% endif %}
                        {% if jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['sub_section'] != 'None' %}
                          <tr class='long_form_row_question'>
                            <td class="long_form_number"></td>
                            <td class='long_form_sub_question' colspan="{{ number_of_respondents+4 }}">{{ jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['sub_section'] }}</td>
                          </tr>
                        {% endif %}
                        <tr style="width:100%;">
                          <td class="long_form_number"></td>
                          <td colspan="{{ number_of_respondents+4 }}" style="padding-left:.49in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;">&#8220;{{ jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['answers'][0] }}&#8221;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  {% for a in jinja_for_loop_dict[section][number]['raw_questions'][raw_q]['answers'][1:] %}
                  <tr class='long_form_row_question'>
                    <td class="long_form_number"></td>
                    <td style="padding-left:.5in;padding-bottom:6px;margin-top:18px;text-align: justify;text-justify: inter-word;" colspan="{{ number_of_respondents+4 }}">&#8220;{{ a }}&#8221;</td>
                  </tr>
                  {% endfor %}
                {% endif %}

              {% endfor %}
            {% endfor %}
          </table>

        {% endfor %}
      </article>
    </div>
  {% endif %}

  {% if statistical_analysis_bool %}
    <div id='statistical_analysis'>
      <p style="page-break-before: always;">&nbsp;</p>
      <h1 id='statistical_analysis_title'>Statistical Analysis</h1>

      <table id='section_average_analysis' style="display: table;table-layout: fixed;margin-top:-4px;min-width:670px;border-collapse: collapse;">
        <th style="border-left: 1px solid #c4590f;border-left: 1px solid #c4590f;padding-left:.1in;text-align:left;font-weight:normal;">Aggregated Section Analysis</th>
        <th style="width:60px;padding-left:.1in;text-align:center;">{{ comparative_year_number }}</th>
        <th style="border-right: 1px solid #c4590f;width:60px;padding-left:.1in;text-align:center;border-right: 1px solid #c4590f;">{{ compared_year_number }}</th>

        {% for item in section_avg_list %}
          {% for section, averages in item.items()%}
          <tr>
            <td style="padding-left:.1in;">{{ section }}</td>
            {% for a in range(averages|length) %}
              <td style="text-align:center;padding-left:.1in;text-align:center;">{{ averages[a] }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        {% endfor %}
        <tr>
          <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.9in;padding-right:.1in;text-align:right;font-weight:bold;">e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span></td>
          <td style="border-bottom: 1px solid #c4590f;text-align:center;font-weight:bold;padding-left:.1in;">{{ eSigma_value }}</td>
          <td style="border-bottom: 1px solid #c4590f;border-right: 1px solid #c4590f;text-align:center;font-weight:bold;padding-left:.1in;">{{ b_esigma }}</td>
        </tr>
      </table>

      <table id='assessment_statistics' style="display: table;table-layout: fixed;margin-top:24px;min-width:670px;border-collapse: collapse;">
          <th style="border-left: 1px solid #c4590f;padding-left:.1in;text-align:left;font-weight:normal;">Evaluation Statistics</th>
          <th style="width:60px;padding-left:.1in;text-align:center;">{{ comparative_year_number }}</th>
          <th style="border-right: 1px solid #c4590f;width:60px;padding-left:.1in;text-align:center;border-right: 1px solid #c4590f;">{{ compared_year_number }}</th>

        {% for item in eval_stats_list_of_dicts %}
          {% for category, scores in item.items()%}
            {% if ( (category != 'Question analysis by Board member response:') and (category != 'Group response analysis:') and (category != 'Question analysis by Committee member response:') ) %}
            <tr>
              <td style="padding-left:.1in;">{{ category }}</td>
              {% for a in range(scores|length) %}
                <td style="text-align:right;padding-right:.17in;">{{ scores[a] }}</td>
              {% endfor %}
            </tr>
            {% endif %}
            {% if ( (category == 'Question analysis by Board member response:') or (category == 'Group response analysis:') or (category == 'Question analysis by Committee member response:') )  %}
              <tr>
                <td style="padding-left:.1in;font-weight:bold;">{{ category }}</td>
                  {% for a in range(scores|length) %}
                    <td style="text-align:center;padding-right:.175in;">{{ scores[a] }}</td>
                  {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </table>


      <div style="margin-top:10px;">
        <p style="text-align:center;font-size:9pt;">Copyright © 2014 - {{ year }} Nasdaq</p>
        <p style="margin-top:-8px;text-align:center;font-size:9pt;">All Rights Reserved</p>
      </div>
    </div>
  {% endif %}

</div>
</BODY>
</HTML>
