<HTML>
<HEAD>
  <TITLE>{{ title }}</TITLE>
  <link rel="stylesheet" type="text/css" href="{{ style_url }}">
  <style>
    html {height:100%;}
    body {font-family: Garamond;}
  </style>
</HEAD>
<BODY>
<div id='report_body'>
  <div id='title_page' class="border_thick">
      <img src="{{ nasdaq_logo }}" alt="Nasdaq logo goes here" id="nasdaq_logo"/>
      <p style="font-size:28px;text-align: center;margin-top:60px;">{{ year }} Board Evaluation Report <span style="font-size:16px;"><sup>&#8480;</sup></span></p>
      <p style="font-size:20px;text-align: center;margin-top:80px;">Prepared for</p>
      <img src="{{ client_logo }}" alt="Client logo goes here" id="client_logo"/>
      <p style="text-align: center;margin-top:270px;">{{ formatted_date }}</p>
  </div>

  <div>
    <article id='contents'>
    <h1>Table of Contents</h1>
      <ul>
        <li>Assessment Overview<span style="float:right;">2</span></li>
        {% for item in table_of_contents_titles %}
          <li><a href="{{ item }}"></a></li>
        {% endfor %}
      </ul>
    </article>

    <article id='assessment_overview'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Assessment Overview</p>
      <p style="margin-top:-10px;">
        The Board of Directors of {{ client_name }}, completed a self-assessment which was comprised of {{ number_of_sections }}
        sections with {{ number_of_rated_questions }} rated questions and {{ number_of_long_form_questions }} open-ended response
        questions. All responses and comments presented throughout this report in
        all graphics and reporting features are anonymized and randomized to promote healthy Board dynamics and best
        practices in corporate governance. The goal of this report is to provide the Board with a greater understanding
        of its own working dynamics, highlight areas of strength and areas for improvement, promote relationships among
        Board members, and improve the Board’s overall performance and effectiveness.
      </p>
    </article>

    <article id='report_sections'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Assessment Sections</p>
      <table>
      {% for label, section_name in section_names_and_labels.items() %}
      <tr>
        <td style="width:36px;">{{ label }}</td>
        <td>{{ section_name }}</td>
      </tr>
      {% endfor %}
    </table>
    </article>
    <div>
      <p style="font-size:16px;position:absolute;bottom:130px;"><i>Sample assessment question with rating scale for reference:</i></p>
      <div id="scale_div">
        <p style="margin-left:10px;margin-top:2px;">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Board maintains and refines a governance framework that adds value to the Company</p>
          <img style="margin-left:60px;margin-top:-14px;" src="{{ scale_image }}" alt="Scale Image goes here" id="scale_image"/>
      </div>
    </div>
    <p style="page-break-after: always;">&nbsp;</p>
  </div>

  <div id='heat_map_section'>
    <h1 id='heat_map_title'>Corporate Governance Heat Map<span style="font-size:12pt;"><sup>&#8480;</sup></span></h1>
    <p style="font-size:16px;">This graph displays the directors’ responses to the rated questions. Areas of green represent confidence, yellow represents caution,
      and red represents concern. The section numbers are listed in the first row, the question numbers are in the second row, and the section rating averages in the bottom row.
      The numbered rows represent directors’ responses to the questions; however, the responses in the rows have been randomized to maintain anonymity.</p>
    <img src="{{ heat_map_image }}" alt="Heat Map goes here" id="heat_map_image"/>
    <p style="text-align: center;font-size:12pt;margin-top:2px;">e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> = {{ eSigma_value }}</p>
    <p style="text-align: center;font-size:9pt;margin-top:-10px;">Scale is 1.00 to 10.00</p>
    <div style="width:370px;text-align:center;margin: 0 auto;margin-top:-8px;">
      <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span></p>
    </div>
    <article>
      <p style="font-size:10pt;"><span style="font-weight:bold;">e&#x03A3;igma<span><sup style="font-size:8pt;">&#8480;</sup></span></span> is a Nasdaq metric that provides a year over year comparative measurement of Board performance.
      The e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> score is a calculation that averages the total statistical score, plus a score increase
      or decrease of up to .50 based on the level of Board member engagement. This engagement level is
      determined by the form and content contributed by the Board members.</p>
    </article>
  </div>
  <div id='CGPG'>
    <h1 id='CGPG_title'>Corporate Governance Priority Graph<span style="font-size:12pt;"><sup>&#8480;</sup></span></h1>
    <p style="font-size:16px;">This graph contrasts the range of ratings and the corresponding average rating for
       each section to show the extent to which directors are aligned in their perception of the Board’s performance. </p>
  </div>

  {% if report_type == 'BEA' %}
  <div id='radar_chart'>
  <p style="page-break-before: always;">&nbsp;</p>
  <h1 id='radar_title'>Corporate Governance Relationship Web<span style="font-size:16px;"><sup>&#8480;</sup></span></h1>
  <p>
    This diagram provides insight by quantifying the total rating given by each individual director while
    highlighting each time a director selected 10 as the response to a rated question. The blue band
    indicates the extent to which the Board is unified in its perception of its efficacy and overall
    performance. The green band indicates the extent to which the Board arrived at a common conclusion heterogeneously.
  </p>
  <p>
    Both a positive and negative correlation exist between the web’s blue and green bands. In more highly
    functioning boards, the outer blue band is more circular and the inner green band is more asymmetrical,
    indicating a high degree of consistent feeling is present regarding overall Board performance
    (the circular blue band) and that the Board arrived at such conclusion by varied means (the jagged green band).
    If both bands are symmetrical (circular), this implies less diversity of thought. In less highly
     functioning boards, the outer blue band is jagged and the inner green band is more symmetrical.
      This result suggests the Board is not unified in its perception of its performance.
  </p>
  </div>
  {% endif %}

  <div id='hilo'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='hilo_title'>Highest and Lowest Rated Questions</h1>
    <p>
      This section highlights the questions that received the highest and lowest average ratings,
      and provides insight into areas where performance is strong or room for improvement exists.
       Note: If more than one question received the same average rating, then each question with that rating is listed.
    </p>

    <table id='hilo_table'>
      <th colspan="4" class='hi_header'>Highest Rated Questions</th>
      <tr>
        <td class="hi_header">Rating</td>
        <td class="hi_header">Section</td>
        <td class="hi_header_left" colspan="2">Question</td>
      </tr>
      {% for _, row in jinja_hi.iterrows() %}
      <tr>
        <td class='hilo_cell'>{{ row['question_average'] }}</td>
        <td class='hilo_cell'>{{ row['section'] }}</td>
        <td class='hilo_cell'>{{ row['formatted_number'] }}</td>
        <td class='hilo_cell'>{{ row['question'] }}</td>
      </tr>
      {% endfor %}
      <th colspan="4" class='lo_header'>Lowest Rated Questions</th>
      <tr>
        <td class="lo_header">Rating</td>
        <td class="lo_header">Section</td>
        <td class="lo_header_left" colspan="2">Question</td>
      </tr>
      {% for _, row in jinja_lo.iterrows() %}
      <tr>
        <td class='hilo_cell'>{{ row['question_average'] }}</td>
        <td class='hilo_cell'>{{ row['section'] }}</td>
        <td class='hilo_cell'>{{ row['formatted_number'] }}</td>
        <td class='hilo_cell'>{{ row['question'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if skills_matrix_present %}
  <div id='skills_matrix_section'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='skills_matrix_title' style="font-weight:normal;font-size:20px;margin-top:-12px;">Director Skills Matrix</h1>
    <p>As part of this assessment, directors rated their expertise in {{ number_of_skills_matrix_questions }} areas relevant to the
      requirements of the role of a director and the Company’s business and industry. The Skills
      Matrix utilized a scale of 1-10 with “limited knowledge” scored as a 1 and “high expertise” scored as a 10.</p>
    <p>The gradient color visualization highlights directors’ areas of strengths and weaknesses and
       their overall expertise rating. The average rating of all skills of the Board as a whole is {{ skills_matrix_average }},
        which indicates ... </p>
  </div>
  {% endif %}

  {% if swot == True %}
  <div id='swot'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id="swot_title" style="font-weight:normal;font-size:20px;margin-top:-12px;">SWOT Diagram</h1>
    <p>This diagram provides a concise view of the Board’s responses by comparing statistical
      ratings and comments. The objective of the SWOT diagram is to outline and graphically
      contrast the four areas so that the Board and management can further promote an effective agenda. </p>
    <table id='swot_table'>
      <tr>
        <td style="width: 61px; vertical-align: top; top: -10px;"><img src="{{ swot_s }}" /></td>
        <td style="display: table-cell;border-right: 2px solid #941100;vertical-align: text-top;"><h3 style="margin-top:12px;font-size:16pt;">Strengths</h3></td>
        <td style="width: 61px;vertical-align: top; top: -10px;"><img src="{{ swot_w }}" /></td>
        <td style="display: table-cell;vertical-align: text-top;text-align:left;"><h2 style="margin-top:12px;font-size:16pt;">Weaknesses</h2></td>
      </tr>
        <td style="padding-left:10px;">&#9642;</td>
        <td style="border-right: 2px solid #941100;"></td>
        <td style=";padding-left:10px;">&#9642;</td>
        <td style="">&nbsp;</td>
      <tr>
      </tr>
        <td style="border-bottom: 2px solid #941100;padding-left:10px;">&#9642;</td>
        <td style="border-bottom: 2px solid #941100;border-right: 2px solid #941100;"></td>
        <td style="border-bottom: 2px solid #941100;padding-left:10px;">&#9642;</td>
        <td style="border-bottom: 2px solid #941100;">&nbsp;</td>
        <tr>
          <td style="width: 61px; vertical-align: top; top: -10px;"><img src="{{ swot_o }}" /></td>
          <td style="display: table-cell;border-right: 2px solid #941100;vertical-align: text-top;"><h3 style="margin-top:12px;font-size:16pt;">Strengths</h3></td>
          <td style="width: 61px;vertical-align: top; top: -10px;"><img src="{{ swot_t }}" /></td>
          <td style="display: table-cell;vertical-align: text-top;text-align:left;"><h2 style="margin-top:12px;font-size:16pt;">Weaknesses</h2></td>
        </tr>
          <td style="padding-left:10px;">&#9642;</td>
          <td style="border-right: 2px solid #941100;"></td>
          <td style="padding-left:10px;">&#9642;</td>
          <td style="">&nbsp;</td>
        <tr>
        </tr>
          <td style="padding-left:10px;">&#9642;</td>
          <td style="border-right: 2px solid #941100;"></td>
          <td style="padding-left:10px;">&#9642;</td>
          <td style="">&nbsp;</td>
        <tr>
    </table>
  </div>
  {% endif %}

  {% if highlights_actionpoints == True %}
  <div id='highlights_actionpts'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='highlights_actionpts_title' style="font-weight:normal;font-size:20px;margin-top:-12px;">Highlights and Action Points</h1>
    <p>The overall statistical ratings and open-ended comments from directors indicate... The following highlights and action points are deduced from Board comments and important, related governance trends.</p>
    <article>
      <h3>Highlights</h3>
      <p>The following highlights are drawn from the Board’s responses:</p>
      <span style="margin-left:24px">&#9642;</span>
    </article>
    <article>
      <h3>Risks and Challenges</h3>
      <p>The Board identified the following risks and challenges facing the Company:</p>
      <span style="margin-left:24px">&#9642;</span>
    </article>
    <article>
      <h3>Action Points for Consideration</h3>
      <p>The Board identified the following areas for focus and action:</p>
      <span style="margin-left:24px">&#9642;</span>
    </article>
  </div>
  {% endif %}

  <div id='CG_Flag'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='CGPG_method_title'>Corporate Governance Flag Report<span style="font-size:12pt;"><sup>&#8480;</sup></span> Methodology</h1>
    <p>This section assesses the data collected from all elements of the evaluation to form an integrated picture
      of the Board’s function and overall performance. The results are aggregated, averaged, and then quantitatively
      reviewed. Significant deviation from the statistical mean indicates an area requiring particular attention.</p>

    <div id='flag_legend'>
      <p>Each section is assessed in the Flag Report based upon the following legend:</p>
      <table style="margin-top:-8px;">
        <tr style="width:100%;">
          <td style="width:12%;text-align: right;"><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></td>
          <td class="flag_legend">Highest Confidence</td>
          <td style="width:8%;text-align: right;"><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></td>
          <td class="flag_legend">Moderate Confidence</td>
          <td style="width:10%;text-align: right;"><img class='flag' src="{{ green_flag }}" alt="green flag here"/></td>
          <td class="flag_legend">Baseline Confidence</td>
        </tr>
        <tr style="width:100%;">
          <td style="width:10%;text-align: right;"><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></td>
          <td class="flag_legend">Low Caution</td>
          <td style="width:8%;text-align: right;"><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></td>
          <td class="flag_legend">Medium Caution</td>
          <td style="width:12%;text-align: right;"><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_flag }}" alt="yellow flag here"/></td>
          <td class="flag_legend">High Caution</td>
        </tr>
        <tr style="width:100%;">
          <td style="width:10%;text-align: right;"><img class='flag' src="{{ red_flag }}" alt="red flag here"/></td>
          <td class="flag_legend">Low Concern</td>
          <td style="width:8%;text-align: right;"><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></td>
          <td class="flag_legend">Medium Concern</td>
          <td style="width:12%;text-align: right;"><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></td>
          <td class="flag_legend">High Concern</td>
        </tr>
      </table>
    </div>

    <h1 id='CG_flag_title'>Corporate Governance Flag Report<span style="font-size:12pt;"><sup>&#8480;</sup></span></h1>
    <p style="font-size:16px;">The report below provides statistical information for each section along with any comments provided by directors.</p>
    <article id='CG_Sections'>
      {% for section in data_dict.keys() %}
        {% if ( five_point_scale == False ) %}
        <div>
            {% if ['long_form'] == questions_df[questions_df['section']==section]['type'].unique().tolist() %}
              <h2>{{ section }}</h2>
            {% endif %}
            {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique()) ) %}
              {% if (section_averages[section] | float ) >= 9.25 %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
              {% endif %}
              {% if ( ((section_averages[section] | float ) >= 8.5) and ((section_averages[section] | float) <= 9.24) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
              {% endif %}
              {% if ( ((section_averages[section] | float ) >= 7.75) and ((section_averages[section] | float) <= 8.49) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
              {% endif %}

              {% if ( ((section_averages[section] | float ) >= 5.5) and ((section_averages[section] | float) <= 6.24) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/></h2>
              {% endif %}
              {% if ( ((section_averages[section] | float ) >= 6.25) and ((section_averages[section] | float) <= 6.99) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/></h2>
              {% endif %}
              {% if ( ((section_averages[section] | float ) >= 7) and ((section_averages[section] | float) <= 7.74) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/></h2>
              {% endif %}

              {% if ( ((section_averages[section] | float ) >= 1) and ((section_averages[section] | float) <= 3.99) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
              {% endif %}
              {% if ( ((section_averages[section] | float ) >= 4) and ((section_averages[section] | float) <= 4.74) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
              {% endif %}
              {% if ( ((section_averages[section] | float ) >= 4.75) and ((section_averages[section] | float) <= 5.49) ) %}
              <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
              {% endif %}
            {% endif %}
        </div>
        {% endif %}

        {% if ( five_point_scale == True ) %}
        <div>
            {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique()) ) %}
            {% if (section_averages[section] | float ) >= 4.65 %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
            {% endif %}
            {% if ( ((section_averages[section] | float ) >= 4.25) and ((section_averages[section] | float) <= 4.649) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/><img class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
            {% endif %}
            {% if ( ((section_averages[section] | float ) >= 3.875) and ((section_averages[section] | float) <= 4.249) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ green_flag }}" alt="green flag here"/></h2>
            {% endif %}

            {% if ( ((section_averages[section] | float ) >= 2.75) and ((section_averages[section] | float) <= 3.124) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/></h2>
            {% endif %}
            {% if ( ((section_averages[section] | float ) >= 3.125) and ((section_averages[section] | float) <= 3.49) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/><img class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/></h2>
            {% endif %}
            {% if ( ((section_averages[section] | float ) >= 3.5) and ((section_averages[section] | float) <= 3.875) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ yellow_fag }}" alt="yellow flag here"/></h2>
            {% endif %}

            {% if ( ((section_averages[section] | float ) >= 1) and ((section_averages[section] | float) <= 1.99) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
            {% endif %}
            {% if ( ((section_averages[section] | float ) >= 2) and ((section_averages[section] | float) <= 2.374) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/><img class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
            {% endif %}
            {% if ( ((section_averages[section] | float ) >= 2.375) and ((section_averages[section] | float) <= 2.74) ) %}
            <h2>{{ section }}<img style="margin-left: 4px;" class='flag' src="{{ red_flag }}" alt="red flag here"/></h2>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}

        <p style="margin-top:-4px;">{{ section_data[section] }}</p>
        <table class='flag_table' style="width: 100%;margin-top:-4px;">

        {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique())) %}
        <tr>
          <th style="width:10px;"></th>
          <th style="width:16px;"></th>
          <th style="width:50%;"></th>
          <th colspan="{{ number_of_respondents }}" scope="colgroup" style="border-bottom: 1px solid black;text-align:center;">Individual Ratings</th>
          <th style="width:60px;text-align:center;border-bottom:1px solid black;border-left:1px solid black;">Average</th>
        </tr>
        {% endif %}

        {% for raw_q in data_dict[section].keys() %}
          {% if (data_dict[section][raw_q].type == 'likert') %}
          <tr>
            <td class='rated_number'>{{ data_dict[section][raw_q].number }}</td>
            <td class='rated_question' colspan="2">{{ data_dict[section][raw_q].question }}</td>
            {% for a in data_dict[section][raw_q].answers %}
              <td class='rated_answer'>{{ a }}</td>
            {% endfor %}
            <td class="rated_average">{{ data_dict[section][raw_q].average }}</td>
          </tr>
          {% endif %}

          {% if (data_dict[section][raw_q].type == 'matrix') %}
            {% if (data_dict[section][raw_q].subsection[0] == 'a') %}
            <tr>
              <td class='rated_number'>{{ data_dict[section][raw_q].number }}</td>
              <td class='matrix_question' colspan="{{ number_of_respondents+2 }}">{{ data_dict[section][raw_q].question }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="rated_number"></td>
              <td class="rated_question" colspan="2">{{ data_dict[section][raw_q].subsection }}</td>
              {% for a in data_dict[section][raw_q].answers %}
                <td class='rated_answer'>{{ a }}</td>
              {% endfor %}
              <td class="rated_average">{{ data_dict[section][raw_q].average }}</td>
            </tr>
          {% endif %}

          {% if data_dict[section][raw_q].type == 'rank' %}

            {% if data_dict[section][raw_q].first == True %}
            <tr>
              <td class='rated_number'>{{ data_dict[section][raw_q].number }}</td>
              <td class='matrix_question' colspan="{{ number_of_respondents+4 }}">{{ data_dict[section][raw_q].question }}</td>
            </tr>

            <tr>
              <td class='rated_number'></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td style="text-align:center" colspan="{{ data_dict[section][raw_q].lengthOfRankedChoiceSection }}">Number of Responses</td>
            </tr>

            <tr>
              <td class="rated_number"></td>
              <td colspan="2" style="padding-left: .1in;width:30px;">Rank</td>
              {% for num in data_dict[section][raw_q].ranks %}
                <td style="border-bottom:1px solid black;">{{ num }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="rated_number"></td>
              <td style="padding-left: .1in;max-width:12px; min-width:10px;">{{ data_dict[section][raw_q].count }}.</td>
              <td style="padding-left: .1in;">{{ data_dict[section][raw_q].subsection }}</td>
              {% for num in data_dict[section][raw_q].answers %}
                <td>{{ num }}</td>
              {% endfor %}
            </tr>
            {% endif %}

            {% if data_dict[section][raw_q].first == False %}
            <tr>
              <td class="rated_number"></td>
              <td style="padding-left: .1in; width:10px;">{{ data_dict[section][raw_q].count }}.</td>
              <td style="padding-left: .1in;">{{ data_dict[section][raw_q].subsection }}</td>
              {% for num in data_dict[section][raw_q].answers %}
                <td>{{ num }}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endif %}

          {% if data_dict[section][raw_q].type == 'long_form' %}
          <tr class='long_form_row_question'>
            <td class="long_form_number">{{ data_dict[section][raw_q].number }}</td>
            <td class='long_form_question' colspan="{{ number_of_respondents+2 }}">{{ data_dict[section][raw_q].question }}</td>
            </tr>
            {% for a in data_dict[section][raw_q].answers %}
              <tr><td style="padding-left:.5in;padding-bottom:6px;margin-top:18px;" colspan="{{ number_of_respondents+3 }}">&#8220;{{ a }}&#8221;</td></tr>
            {% endfor %}
          {% endif %}

        {% endfor %}
        </table>
      {% endfor %}
    </article>
  </div>


  <div id='statistical_analysis'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='statistical_analysis_title'>Statistical Analysis</h1>
    {% if ( five_point_scale == False ) %}
      <p style="font-size:16px;">The minimum rating on each assessment question is 1 and the maximum is 10.</p>
    {% endif %}
    {% if ( five_point_scale == True) %}
      <p style="font-size:16px;">The minimum rating on each assessment question is 1 and the maximum is 5.</p>
    {% endif %}
    <table style="table-layout: fixed; width: 100%;margin-top:-4px;border-collapse: collapse;">
      <th style="padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Aggregated Section Analysis<th>
      <th style="padding-left:.1in;width:15%;text-align:center;font-weight:normal;">Average<th>
      {% for item in section_avg_list[:-1] %}
      {% for section, average in item.items()%}
      <tr>
        <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ section }}<td>
        <td style="border-right: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ average }}<td>
      </tr>
      {% endfor %}
      {% endfor %}
      <tr>
        <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ section_avg_list_last_item[0] }}<td>
        <td style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ section_avg_list_last_item[1] }}<td>
      </tr>
    </table>

    <table id='assessment_statistics' style="table-layout: fixed; width: 100%;margin-top:24px;border-collapse: collapse;">
      <th style="padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Assessment Statistics<th>
      <th style="padding-left:.1in;width:15%;text-align:center;font-weight:normal;"><th>
      {% for item in eval_stats_list_of_dicts[:-1] %}
      {% for category, score in item.items()%}
      <tr>
        <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ category }}<td>
        <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;">{{ score }}<td>
      </tr>
      {% endfor %}
      {% endfor %}
      <tr>
        <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ eval_stats_list_of_dicts_last_item[0] }}<td>
        <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;">{{ eval_stats_list_of_dicts_last_item[1] }}<td>
      </tr>
    </table>

    <div style="margin: 0 auto;margin-top: 16px;width:200px;border-top:1px solid #BC5D28;">
      <p style="margin-top:6px;font-size:12pt;text-align:center;">e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> = {{ eSigma_value }}</p>
      {% if ( five_point_scale == False ) %}
        <p style="margin-top:-12px;text-align:center;font-size:9pt;">Scale is 1.00 to 10.00</p>
      {% endif %}
      {% if ( five_point_scale == True ) %}
        <p style="margin-top:-12px;text-align:center;font-size:9pt;">Scale is 1.00 to 5.00</p>
      {% endif %}
    </div>

    <div style="margin-top:10px;">
      <p style="text-align:center;font-size:9pt;">Copyright © 2014 - {{ year }} Nasdaq</p>
      <p style="margin-top:-8px;text-align:center;font-size:9pt;">All Rights Reserved</p>
    </div>
  </div>
</div>
</BODY>
</HTML>
