<HTML>
<HEAD>
  <TITLE>{{ title }}</TITLE>
  <link rel="stylesheet" type="text/css" href="{{ style_url }}">
  <style>
    html {height:100%;}
    body {font-family: Garamond;}
  </style>
</HEAD>
<BODY>
<div id='report_body'>
  <div id='title_page' class="border_thick">
      <img src="{{ nasdaq_logo }}" alt="Nasdaq logo goes here" id="nasdaq_logo"/>
      <p style="font-size:28px;text-align: center;margin-top:60px;">{{ year }} Peer and Self-Assessment of {{ director_name}}</p>
      <p style="font-size:20px;text-align: center;margin-top:80px;">Prepared for</p>
      <img src="{{ client_logo }}" alt="Client logo goes here" id="client_logo"/>
      <p style="text-align: center;margin-top:170px;">{{ formatted_date }}</p>
  </div>

  <div>
    <article id='contents'>
    <h1>Table of Contents</h1>
      <ul>
        <li>Assessment Overview<span style="float:right;">2</span></li>
        {% for item in table_of_contents_titles %}
          <li><a href="{{ item }}"></a></li>
        {% endfor %}
      </ul>
    </article>

    <article id='assessment_overview'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Assessment Overview</p>
      <p style="margin-top:-10px;">
        The Board of Directors of {{ client_name }}, completed a peer and self-assessment
        wherein directors rated their own and their peer directors' performance
        in {{ number_of_sections }} topical sections. All responses and comments presented throughout this report
        in all graphics and reporting features are anonymized and randomized to promote healthy
        board dynamics and best practices in corporate governance. The goal of this report is to provide the
        board with a greater understanding of each director’s performance and contributions, highlight areas
        of strength and areas for improvement, encourage positive relationships among board members, and
        improve each director’s overall performance and effectiveness.
      </p>
    </article>

    <article id='report_sections'>
      <p style="font-size:20px;text-align: center;margin-top:20px;">Assessment Sections</p>
      <table>
      {% for label, section_name in section_names_and_labels.items() %}
      <tr>
        <td style="width:36px;">{{ label }}</td>
        <td>{{ section_name }}</td>
      </tr>
      {% endfor %}
    </table>
    </article>
    <div>
      <p style="font-size:16px;position:absolute;bottom:130px;"><i>Sample assessment question with rating scale for reference:</i></p>
      <div id="scale_div">
        <p style="margin-left:10px;margin-top:2px;">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The director has strong business acumen.</p>
          <img style="margin-left:60px;margin-top:-14px;" src="{{ scale_image }}" alt="Scale Image goes here" id="scale_image"/>
      </div>
    </div>
    <p style="page-break-after: always;">&nbsp;</p>
  </div>

  <div id='heat_map_section'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h2 id='heat_map_title'>Corporate Governance Heat Map<span style="font-size:12pt;"><sup>&#8480;</sup></span></h2>
    <p style="font-size:16px;">This graph displays the directors’ responses to the rated questions. Areas of green represent confidence, yellow represents caution,
      and red represents concern. The section numbers are listed in the first row, the question numbers are in the second row, and the section rating averages in the bottom row.
      The numbered rows represent directors’ responses to the questions; however, the responses in the rows have been randomized to maintain anonymity.</p>
    <img src="{{ heat_map_image }}" alt="Heat Map goes here" id="heat_map_image"/>
    <p style="margin-top:300px;text-align: center;font-size:12pt;">e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> = {{ eSigma_value }}</p>
    <p style="text-align: center;font-size:9pt;margin-top:-10px;">Scale is 1.00 to 10.00</p>
    <div style="width:370px;text-align:center;margin: 0 auto;margin-top:-8px;">
      <p style="padding:6px;border: 1px solid black;font-size:9pt;">Legend: 1 - 3 ratings = <span style="color:red;font-weight:bold;">red</span>, 4 - 7 ratings = <span style="background-color: yellow;font-weight:bold;">yellow</span>, 8 - 10 ratings = <span style="color:green;font-weight:bold;">green</span></p>
    </div>
    <article>
      <p style="font-size:10pt;"><span style="font-weight:bold;">e&#x03A3;igma<span><sup style="font-size:8pt;">&#8480;</sup></span></span> is a Nasdaq metric that provides a year over year comparative measurement of Board performance.
      The e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> score is a calculation that averages the total statistical score, plus a score increase
      or decrease of up to .50 based on the level of Board member engagement. This engagement level is
      determined by the form and content contributed by the Board members.</p>
    </article>
  </div>
  <div id='peer_self_comparison'>
    <h2 id='peer_self_comparison_graph_title'>Peer and Self-Assessment Comparison Graph<span style="font-size:12pt;"><sup>&#8480;</sup></span></h2>
    <p style="font-size:16px;">This graph compares the average rating for Gene Parker against the board’s combined average rating
        in each section.
    </p>
  </div>

  <div id='hilo'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h1 id='hilo_title'>Highest and Lowest Rated Questions</h1>
    <p>
      This section highlights the questions that received the highest and lowest average ratings,
      and provides insight into areas where performance is strong or room for improvement exists.
       Note: If more than one question received the same average rating, then each question with that rating is listed.
    </p>

    <table id='hilo_table'>
      <th colspan="4" class='hi_header'>Highest Rated Questions</th>
      <tr>
        <td class="hi_header">Rating</td>
        <td class="hi_header">Section</td>
        <td class="hi_header_left" colspan="2">Question</td>
      </tr>
      {% for _, row in jinja_hi.iterrows() %}
      <tr>
        <td class='hilo_cell'>{{ row['question_average'] }}</td>
        <td class='hilo_cell'>{{ row['section'] }}</td>
        <td class='hilo_cell'>{{ row['formatted_number'] }}</td>
        <td class='hilo_cell'>{{ row['question'] }}</td>
      </tr>
      {% endfor %}
      <th colspan="4" class='lo_header'>Lowest Rated Questions</th>
      <tr>
        <td class="lo_header">Rating</td>
        <td class="lo_header">Section</td>
        <td class="lo_header_left" colspan="2">Question</td>
      </tr>
      {% for _, row in jinja_lo.iterrows() %}
      <tr>
        <td class='hilo_cell'>{{ row['question_average'] }}</td>
        <td class='hilo_cell'>{{ row['section'] }}</td>
        <td class='hilo_cell'>{{ row['formatted_number'] }}</td>
        <td class='hilo_cell'>{{ row['question'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if skills_matrix_present %}
  <div id='skills_matrix_section'>
    <p style="page-break-before: always;">&nbsp;</p>
    <h2 id='skills_matrix_title'>Director Skills Matrix</h2>

    <p>{{ director_name }} rated their expertise in {{ number_of_skills_matrix_questions }} areas relevant to the
      requirements of the role of a director and the Company’s business and industry. The Skills
      Matrix utilized a scale of 1-10 with “limited knowledge” scored as a 1 and “high expertise” scored as a 10.</p>
    <p>The gradient color visualization highlights {{ director_name }}’s areas of strengths and weaknesses and
       their overall expertise rating. The average rating of all skills of the Board as a whole is {{ skills_matrix_average }},
        which indicates ... </p>
  </div>
  {% endif %}

  <p style="page-break-before: always;">&nbsp;</p>
  <div id='peer_and_self_report'>
    <h1 id='peer_and_self_report_title'>Director Peer and Self-Assessment Report</h1>
    <p>This section assesses the data collected from all elements of the assessment. The results are
      aggregated, averaged, then quantitatively reviewed. Dramatic deviation from the statistical mean
      indicates an area requiring attention. Director comments are contrasted qualitatively against the
      quantitative elements of the assessment, providing a full view of the board’s competency and
      performance.</p>
    <p>
      Note {{ director_name }}&#8217;s average for each question includes their self-ratings
    </p>

    <article id='peer_self_sections'>
    {% for section in jinja_for_loop_dict.keys() %}
      {% if section == (jinja_for_loop_dict.keys()|list)[0] %}
        <table class='flag_table' style="break-inside:avoid;" style="margin-top:0px;padding-top:0px;">
          <tr style="width:100%;">
            <td colspan="{{ number_of_respondents }}+4">
                <h2>{{ section }}</h2>
            </td>
          <tr style="margin-top:-4px;">
            <td colspan="{{ number_of_respondents }}+4">{{ section_data[section] }}</td>
          </tr>
        </table>
      {% endif %}
      {% if section != (jinja_for_loop_dict.keys()|list)[0] %}
        <table class='flag_table' style="break-inside:avoid;margin-top:20px;">
          <tr style="width:100%;">
            <td colspan="{{ number_of_respondents }}+4">
                <h2>{{ section }}</h2>
            </td>
          <tr style="margin-top:-4px;">
            <td colspan="{{ number_of_respondents }}+4">{{ section_data[section] }}</td>
          </tr>
      </table>
    {% endif %}

      <table class='flag_table' style="width: 100%;margin-top:12px;">
        {% if ( ('likert' in questions_df[questions_df['section']==section]['type'].unique()) or ('matrix' in questions_df[questions_df['section']==section]['type'].unique())) %}
        <tr>
          <th style="width:10px;"></th>
          <th style="width:16px;"></th>
          <th style="width:25%;"></th>
          <th style='border-right: 1px solid black;border-bottom:1px solid black;width:65px;vertical-align:bottom;text-align: center;'>Self-Rating</th>
          <th colspan="{{ number_of_respondents-1 }}" scope="colgroup" style="border-bottom: 1px solid black;text-align:center;vertical-align:bottom;text-align: center;">Ratings from Peer Directors</th>
          <th style="width:70px;text-align:center;border-bottom:1px solid black;border-right:1px solid black;border-left:1px solid black;vertical-align:bottom;text-align: center;">{{ director_name }}&#8217;s Average</th>
          <th style="border-bottom: 1px solid black;width:65px;vertical-align:bottom;text-align: center;">Board Average</th>
        </tr>
        {% endif %}

        {% for number in jinja_for_loop_dict[section] %}

          {% if (jinja_for_loop_dict[section][number]['type'] == 'likert') %}
          <tr>
            <td class='rated_number'>{{ number }}</td>
            <td class='rated_question' colspan="2">{{ jinja_for_loop_dict[section][number]['question'] }}</td>
            <td class='rated_answer' style="border-right:1px solid black;">{{ jinja_for_loop_dict[section][number]['answers'][0] }}</td>
            {% for a in jinja_for_loop_dict[section][number]['answers'][1:] %}
              <td class='rated_answer'>{{ a }}</td>
            {% endfor %}
            <td class="rated_question_average" style="border-right:1px solid black;border-left:1px solid black;text-align: center;">{{ jinja_for_loop_dict[section][number]['average'] }}</td>
            <td class="rated_question_average" style="text-align: center;">{{ jinja_for_loop_dict[section][number]['board_average'] }}</td>
          </tr>
          {% endif %}

          {% if jinja_for_loop_dict[section][number]['type'] == 'long_form' %}
            <tr class='long_form_row_question' colspan="{{ number_of_respondents+2 }}">
              <table class="inner_table" style="break-inside:avoid;" >
                <tr style="width:100%;" colspan="{{ number_of_respondents+2 }}">
                  <td class="long_form_number">{{ number }}</td>
                  <td class='long_form_sub_question' colspan="{{ number_of_respondents+2 }}">{{ jinja_for_loop_dict[section][number]['question'] }}</td>
                </tr>
                <tr style="width:100%;" colspan="{{ number_of_respondents+2 }}">
                  <td class="long_form_number"></td>
                  <td colspan="{{ number_of_respondents+2 }}" style="padding-left:.5in;padding-bottom:6px;margin-top:18px;">&#8220;{{ jinja_for_loop_dict[section][number]['answers'][0] }}&#8221;</td>
                </tr>
              </table>
            </tr>

            {% for a in jinja_for_loop_dict[section][number]['answers'][1:] %}
            <tr class='long_form_row_question' colspan="{{ number_of_respondents+2 }}">
              <table class="inner_table" style="break-inside:avoid;">
                <tr style="width:100%;" colspan="{{ number_of_respondents+2 }}">
                  <td class="long_form_number"></td>
                  <td style="padding-left:.5in;padding-bottom:6px;margin-top:18px;" colspan="{{ number_of_respondents+2 }}">&#8220;{{ a }}&#8221;</td>
                </tr>
              </table>
            </tr>
            {% endfor %}
          {% endif %}

          {% endfor %}
        </table>
      {% endfor %}
    </article>
  </div>

  <div id='statistical_analysis'>
  <p style="page-break-before: always;">&nbsp;</p>
  <h1 id='statistical_analysis_title'>Statistical Analysis</h1>
  {% if ( five_point_scale == False ) %}
    <p style="font-size:16px;">The minimum rating on each assessment question is 1 and the maximum is 10.</p>
  {% endif %}
  {% if ( five_point_scale == True) %}
    <p style="font-size:16px;">The minimum rating on each assessment question is 1 and the maximum is 5.</p>
  {% endif %}
  <table style="table-layout: fixed; width: 100%;margin-top:-4px;border-collapse: collapse;">
    <th style="padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Aggregated Section Analysis<th>
    <th style="padding-left:.1in;width:15%;text-align:center;font-weight:normal;">Average<th>
    {% for item in section_avg_list[:-1] %}
    {% for section, average in item.items()%}
    <tr>
      <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ section }}<td>
      <td style="border-right: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ average }}<td>
    </tr>
    {% endfor %}
    {% endfor %}
    <tr>
      <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ section_avg_list_last_item[0] }}<td>
      <td style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;text-align:center;padding-left:.1in;">{{ section_avg_list_last_item[1] }}<td>
    </tr>
  </table>

  <table id='assessment_statistics' style="table-layout: fixed; width: 100%;margin-top:24px;border-collapse: collapse;">
    <th style="padding-left:.1in;width:85%;text-align:left;font-weight:normal;">Assessment Statistics<th>
    <th style="padding-left:.1in;width:15%;text-align:center;font-weight:normal;"><th>
    {% for item in eval_stats_list_of_dicts[:-1] %}
    {% for category, score in item.items()%}
    <tr>
      <td style="border-left: 1px solid #c4590f;padding-left:.1in;">{{ category }}<td>
      <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;">{{ score }}<td>
    </tr>
    {% endfor %}
    {% endfor %}
    <tr>
      <td style="border-left: 1px solid #c4590f;border-bottom: 1px solid #c4590f;padding-left:.1in;">{{ eval_stats_list_of_dicts_last_item[0] }}<td>
      <td class='assessment_statistics_score' style="border-right: 1px solid #c4590f;border-bottom: 1px solid #c4590f;">{{ eval_stats_list_of_dicts_last_item[1] }}<td>
    </tr>
  </table>

  <div style="margin: 0 auto;margin-top: 16px;width:200px;border-top:1px solid #BC5D28;">
    <p style="margin-top:6px;font-size:12pt;text-align:center;">e&#x03A3;igma<span><sup style="font-size:8pt;font-weight:normal;">&#8480;</sup></span> = {{ eSigma_value }}</p>
    {% if ( five_point_scale == False ) %}
      <p style="margin-top:-12px;text-align:center;font-size:9pt;">Scale is 1.00 to 10.00</p>
    {% endif %}
    {% if ( five_point_scale == True ) %}
      <p style="margin-top:-12px;text-align:center;font-size:9pt;">Scale is 1.00 to 5.00</p>
    {% endif %}
  </div>

  <div style="margin-top:10px;">
    <p style="text-align:center;font-size:9pt;">Copyright © 2014 - {{ year }} Nasdaq</p>
    <p style="margin-top:-8px;text-align:center;font-size:9pt;">All Rights Reserved</p>
  </div>
</div>
</div>
</BODY>
</HTML>
